<div class="tab-inner-area">
    <form [formGroup]="examForm">
        <div class="col-sm-12 form-line">
            <!-- 검사시행일 -->
            <div class="form-group row">
                <label for="exam-2" class="col-sm-2 col-form-label">
                    {{'research.examination.date' |  translate}}
                </label>
                <div class="col-sm-5">
                    <!-- <dashboard-datepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
                    </dashboard-datepicker> -->
                    <daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
                </div>                           
                <!-- 적용여부 -->
                <!-- <div class="col-sm-3 label-border">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                            <input
                                class="custom-control-input"
                                type="checkbox"
                                formControlName="yn"
                                [(ngModel)]="examData.yn"
                                [checked]="examData.yn === 'Y'">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                {{'research.run.yn' |  translate}}
                            </span>
                        </label>
                    </div>
                </div>                -->
            </div>
        </div>
    </form>
    <ngb-tabset class="table-list" 
        #tab="ngbTabset"
		[destroyOnHide]="true">
		<!-- 검사명 검색 -->
		<ngb-tab id="tab-exam">
			<ng-template ngbTabTitle>
				{{'research.examination.name.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<exam-search></exam-search>
			</ng-template>
		</ngb-tab>
		<!-- 검사결과 기본검색 -->
		<ngb-tab id="tab-exam-result" [disabled]="isExam">
        <!-- <ngb-tab> -->
			<ng-template ngbTabTitle>
				{{'research.examination.result.default.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<exam-result-search></exam-result-search>
			</ng-template>
		</ngb-tab>
		<!-- 검사결과 세부검색 -->
		<!-- <ngb-tab [disabled]="ixExamResult"> -->
        <!-- <ngb-tab>            
			<ng-template ngbTabTitle>
				{{'research.examination.result.detail.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
                <exam-detail-search></exam-detail-search>
			</ng-template>
		</ngb-tab> -->
	</ngb-tabset>
</div>

    