<div class="tab-inner-area">
    <form [formGroup]="nursAssmForm">
        <div class="col-sm-12 form-line">
            <!-- 낙상위험도 -->
             <div class="form-group row">
                <label for="iffl-1" class="col-sm-1 col-form-label">
                    낙상위험도
                </label>
                <label for="iffl-1" class="col-sm-1 col-form-label">
                    총점
                </label>
                <div class="col-sm-3">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="iffl-1"
                        title="낙상위험도 총점 From"
                        placeholder="From"
                        min="0"
                        formControlName="ifflScr1"
                        [(ngModel)]="nursAssmData.ifflScr1"
                        [disabled]="true">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="iffl-2"
                        title="낙상위험도 총점 To"
                        placeholder="To"
                        min="0"
                        formControlName="ifflScr2"
                        [(ngModel)]="nursAssmData.ifflScr2"
                        >								
                </div>
                <!-- <label for="iffl-3" class="col-sm-1 col-form-label label-border">
                    위험군
                </label>	
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setDisabled('없음', 'iffl')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="없음"
                                formControlName="ifflDor"
                                [ngModel]="nursAssmData.ifflDor">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                없음
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'iffl')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="전체"
                                formControlName="ifflDor"
                                [ngModel]="nursAssmData.ifflDor">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                전체
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'iffl')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="위험군"
                                formControlName="ifflDor"
                                [ngModel]="nursAssmData.ifflDor">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                위험군
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'iffl')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="비위험군"
                                formControlName="ifflDor"
                                [ngModel]="nursAssmData.ifflDor">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                비위험군
                            </span>
                        </label>					
                    </div>		
                </div>	 -->
            </div>		
        </div>
        <!-- 욕창위험도 -->
        <div class="col-sm-12 form-line">
             <div class="form-group row">
                <label for="bdsr-1" class="col-sm-1 col-form-label">
                    욕창위험도
                </label>
                <label for="bdsr-1" class="col-sm-1 col-form-label">
                    총점
                </label>
                <div class="col-sm-3">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="iffl-1"
                        title="욕창위험도 총점 From"
                        placeholder="From"
                        min="0"
                        formControlName="bdsrScr1"
                        [(ngModel)]="nursAssmData.bdsrScr1">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="bdsr-2"
                        title="욕창위험도 총점 To"
                        placeholder="To"
                        min="0"
                        formControlName="bdsrScr2"
                        [(ngModel)]="nursAssmData.bdsrScr2">								
                </div>
                <label for="bdsr-3" class="col-sm-1 col-form-label label-border">
                    위험군
                </label>	
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setDisabled('없음', 'bdsr')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="없음"
                                formControlName="bdsrStep"
                                [ngModel]="nursAssmData.bdsrStep"
                            checked>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                없음
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'bdsr')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="전체"
                                formControlName="bdsrStep"
                                [ngModel]="nursAssmData.bdsrStep">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                전체
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'bdsr')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="위험군"
                                formControlName="bdsrStep"
                                [ngModel]="nursAssmData.bdsrStep">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                위험군
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'bdsr')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="비위험군"
                                formControlName="bdsrStep"
                                [ngModel]="nursAssmData.bdsrStep">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                비위험군
                            </span>
                        </label>					
                    </div>		
                </div>	
            </div>		
        </div>
        <!-- 중증도 총점 및 분류 -->
        <div class="col-sm-12 form-line">
            <div class="form-group row">
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    중증도
                </label>
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setPtCtg('ptCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="ptCmm"
                                formControlName="ptCtg"
                                [ngModel]="nursAssmData.ptCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                일반환자
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setPtCtg('ptMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="ptMt"
                                formControlName="ptCtg"
                                [ngModel]="nursAssmData.ptCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                정신과
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setPtCtg('ptApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="ptApc"
                                formControlName="ptCtg"
                                [ngModel]="nursAssmData.ptCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                중환자
                            </span>
                        </label>	
                    </div>
                </div>		
            </div>
        </div>
        <!-- 일반환자 -->
        <div class="col-sm-12 form-line" *ngIf="ptCmmExists">
             <div class="form-group row">
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    일반환자
                </label>
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    총점
                </label>
                <div class="col-sm-3">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-1"
                        title="일반환자 총점 From"
                        placeholder="From"
                        min="0"
                        formControlName="ptSlCmmScr1"
                        [ngModel]="nursAssmData.ptSlCmmScr1">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-2"
                        title="일반환자 총점 To"
                        placeholder="To"
                        min="0"
                        formControlName="ptSlCmmScr2"
                        [ngModel]="nursAssmData.ptSlCmmScr2">								
                </div>
                <label for="dlm-3" class="col-sm-1 col-form-label label-border">
                    분류
                </label>	
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setDisabled('없음', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="없음"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                없음
                            </span>
                        </label>				
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="전체"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                전체
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="1군"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                1군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="2군"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                2군
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="3군"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                3군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlCmm')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="4군"
                                formControlName="ptSlCmmCtg"
                                [ngModel]="nursAssmData.ptSlCmmCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                4군
                            </span>
                        </label>															
                    </div>		
                </div>	
            </div>		
        </div>
        <!-- 정신과 -->
        <div class="col-sm-12 form-line" *ngIf="ptMtExists">
             <div class="form-group row">
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    정신과
                </label>
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    총점
                </label>
                <div class="col-sm-3">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-1"
                        title="정신과 총점 From"
                        placeholder="From"
                        min="0"
                        formControlName="ptSlMtScr1"
                        [ngModel]="nursAssmData.ptSlMtScr1">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-2"
                        title="정신과 총점 To"
                        placeholder="To"
                        min="0"
                        formControlName="ptSlMtScr2"
                        [ngModel]="nursAssmData.ptSlMtScr2">								
                </div>
                <label for="dlm-3" class="col-sm-1 col-form-label label-border">
                    분류
                </label>	
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setDisabled('없음', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="없음"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                없음
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="전체"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                전체
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="1군"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                1군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="2군"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                2군
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="3군"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                3군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlMt')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="4군"
                                formControlName="ptSlMtCtg"
                                [ngModel]="nursAssmData.ptSlMtCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                4군
                            </span>
                        </label>															
                    </div>		
                </div>	
            </div>		
        </div>
        <!-- 중환자 -->
        <div class="col-sm-12 form-line" *ngIf="ptApcExists">
             <div class="form-group row">
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    중환자
                </label>
                <label for="dlm-1" class="col-sm-1 col-form-label">
                    총점
                </label>
                <div class="col-sm-3">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-1"
                        title="중환자 총점 From"
                        placeholder="From"
                        min="0"
                        formControlName="ptSlApcScr1"
                        [ngModel]="nursAssmData.ptSlApcScr1">
                    <input
                        type="number"
                        class="form-control number-input mr-1 float-left"
                        id="dlm-2"
                        title="중환자 총점 To"
                        placeholder="To"
                        min="0"
                        formControlName="ptSlApcScr2"
                        [ngModel]="nursAssmData.ptSlApcScr2">								
                </div>
                <label for="dlm-3" class="col-sm-1 col-form-label label-border">
                    분류
                </label>	
                <div class="col-sm-5 radio">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-radio" (click)="setDisabled('없음', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="없음"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                없음
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="전체"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                전체
                            </span>
                        </label>
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="1군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                1군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="2군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                2군
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="3군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                3군
                            </span>
                        </label>		
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="4군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                4군
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="5군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                5군
                            </span>
                        </label>	
                        <label class="custom-control custom-radio" (click)="setDisabled('', 'ptSlApc')">
                            <input
                                class="custom-control-input"
                                type="radio"
                                value="6군"
                                formControlName="ptSlApcCtg"
                                [ngModel]="nursAssmData.ptSlApcCtg">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                6군
                            </span>
                        </label>	
                    </div>		
                </div>	
            </div>		
        </div>
    </form>
    </div>