<dx-data-grid 
    id="path-server"
    class="gridContainer"
    [dataSource]="dataSource"
    [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
    [height]="460"
    (onContentReady)="onContentReady($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowClick)="onRowClick($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)">
    <dxo-filter-row 
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
    <dxi-column dataField="ordSlipCtgCd" caption="{{'renewal2017.pathology.ordSlipCtgCd' | translate}}"></dxi-column>
    <dxi-column dataField="ordSlipCtgNm" caption="{{'renewal2017.pathology.ordSlipCtgNm' | translate}}"></dxi-column>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection
        mode="multiple"
       [selectAllMode]="allMode"
        showCheckBoxesMode="onClick">
    </dxo-selection>
    <dxo-sorting mode="single"></dxo-sorting>   

    <div *dxTemplate="let data of 'totalCount'">
        <h3 class="title-grid-sub">
            {{'renewal2017.pathology.ordSlipCtg' | translate}}
        </h3>
        <div class="informer">
            {{'research.search.result.0' | translate}}: <strong>{{resultCount}} / {{totalCount}}</strong>{{'common.cnt' | translate}}
        </div>
    </div>
</dx-data-grid>
<div *ngIf="loading" class="blind-curton">
    <div class="load-spinner">
        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div>