<div class="container-fluid cohort" style="padding:0px;">
<vertical-split-pane
  class="vertical-split-grid no-margin"
  primary-component-minsize="200"
  secondary-component-minsize="100"
  separator-thickness="1"
  primary-component-initialratio="0.15">
  <div class="split-pane-content-primary">
    <div class="left">
      <nav class="sidebar" [ngClass]="{'menu-collapsed': isMenuCollapsed}">
        <sidebar-layout [idx]="idx"></sidebar-layout>
      </nav>
    </div>
  </div>
  <div class="split-pane-content-secondary" style="height: 100%;">
    <div class="right" style="height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</vertical-split-pane>
</div>
