
.chart-caption {
	text-align: center;
	font-size: $font-xs;
	margin-bottom: 15px;
	.ico-male, .ico-female {
		display: inline-block;
		width: 17px;
		height: 9px;
	}
	.ico-male {
		background-color: #148ecf;
	}
	.ico-female {
		background-color: #f45e84;
	}
}
.axis line,
.axis path {
	shape-rendering: crispEdges;
	fill: transparent;
	stroke: #f5f5f5;
}
.axis text {
	font-size: 11px;
	fill: $text-color;
}
.bar {
/* fill-opacity: 0.5; */
	fill: $primary-color;
}
.bar.left {
	fill: #148ecf;
}
.bar.right {
	fill: #f45e84;
}
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 6px;
	font-size: $font-xs;
	border: none;
	background: rgba(0, 0, 0, 0.8);
	color: $text-color-invert;
	border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 4px;
	// width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}