
.nav.az-navbar{
    z-index: 1000;
    min-width: $window-width;
    // @include verticaldiv($navbar-height);
    border-top: 1px solid $border-color;
    height: $navbar-height;
    align-items: center;
    background-color: $main-color;
    box-shadow: inset 0 -1px 0 0 $border-color;
    h1 {
        float: left;
        // max-width: 350px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        font-size: $font-md;
        margin-left: $sidebar-width;
        padding-left: 25px;
        -webkit-transition: margin-left 0.2s; /* Safari */
	    transition: margin-left 0.2s;
        &.menu-collapsed{ 
            margin-left: $collapse-width;
        }
        .btn {
            cursor: pointer;
        }
    }   
    .btn-toolbar {
        margin-left: 15px;
        .btn:not(.btn-group-item) {
            width: 40px;
            text-align: center;
            @include verticaldiv(40px);
            i {
                @include verticaldiv(40px);
                font-size: 22px;
            }
        }
        .btn:hover {
            background-color: $gray-color;
        }
        .active {
            background-color: $gray-color;
            color: $primary-color;
            opacity: 1;
        }
        .btn-col {
            float: left;
            padding: 0 15px 0 25px;
            border-left: 1px solid $border-color-light;
            &:first-child {
                border-left: none;
            }
        }
    }
    .btn-group-right {
        z-index: 2;
        position: absolute;
        right: 0;
        button {
            margin-left: 3px;
            color: $default-color;           
        }
        dl {
            margin-bottom: 0;
        }
        dt { 
            float: left;
            width: 80px;
            font-weight: 200;
            margin-right: 10px;
            margin-bottom: 0;
        }
        dd {
            margin-bottom: 0;
        }
        .btn-area-right {
            float: right;
        }
    }
    // .btn-menu {
    //     z-index: 2;
    //     position: relative;
    //     button {
    //         width: $navbar-height;
    //         height: $navbar-height;
    //         border-radius: 0;
    //         font-size: 18px;
    //         margin-right: 10px;
    //     }        
    // }
    .profile {
        margin-right: 20px;
        @include verticaldiv($navbar-height);
        color: $text-color;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }        
    }
    .btn-change-mode {
        width: 170px;
        text-align: center;
        font-size: $font-md;
        border: none !important;
        @include verticaldiv($navbar-height);
        color: $text-color-invert;
        background-color: $footer-bg-color;       
    }
    .user-info{
        // background-color: $main-color;
        line-height: 14px;
        text-align: center;
        width: 200px;
        margin-bottom: 5px;
        
        img{
            width: 100px;
            margin-top: 5px;
            border-radius: 50%;
        }
        p{   
            color: #ebebeb;
            margin-top: 10px;
            color: $text-color;
        }
        small{
            display: block;
        }
    }
    .setting-dropdown {
        button {
            border-radius: 0;
            min-height: 21px;
            min-width: 21px;
        }
        .btn-blue {
            background-color: #3949ab;
        }
        .btn-purple {
            background-color: #9c27b0;
        }
        .btn-orange {
            background-color: #ff7043;
        }
        .btn-cyon {
            background-color: #00bcd4;
        }
        .bg-info {
            &:hover {
                background-color: $primary-color;
            }
        }
    }
    .btn-group.navigation {
        position: absolute;
        left: 50%;  
        margin-left: -70px;
        border-radius: 4px;
        border: 1px solid $border-color;
        button{
            width: 80px;
            border: none;
            i {
                font-size: 24px;
            }
            &:first-child {
                border-radius: 4px 0 0 4px;
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        } 
    }
}
.primary-btn-group {
    float: right;
    position: absolute;
    right: 170px;
}
.powermode-ci {
    background: url(images/ci_invert.png) 0 0 no-repeat;
    height: 35px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px !important;
    background-size: auto 35px; 
}

.gate-ci {
    background: url(images/ci_invert.png) 0 0 no-repeat;
    height: 45px;
    width: 200px;
    // margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-size: auto 45px; 
}
.dark-mode {
    .powermode-ci {
        background: url(images/ci.png) 0 0 no-repeat;
        height: 35px;
        width: 250px;
        margin-top: 15px;
        margin-left: 40px !important;
        background-size: auto 35px; 
    }
}