body::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //@include theme-bg($body-bg-gradient-color-1, $body-bg-gradient-color-2);
    background: $body-bg-color; // #5b6e8a;      
    z-index: -1;
}

.container-fluid {
    width: auto;
    min-width: $window-width;
    background-color: $body-bg-color;
    @include content($navbar-height);
    &.powermode {
        min-width: calc(#{$window-width} - #{$sidebar-powermode-width});
        left: $sidebar-powermode-width;
        padding: 0;
    }
}
.patient-list-overflow {
    width: 100%;
    overflow-x: auto;
}
.main-wrapper{ 
    margin-left: $sidebar-width;
    width: 100%;
    height: calc(100vh - #{$navbar-height} - #{$footer-height});
    -webkit-transition: margin-left 0.2s; /* Safari */
	transition: margin-left 0.2s;
    &.menu-collapsed{ 
        margin-left: $collapse-width;
    }
    .ps-container .ps-content {
        height: 100%;
    }
    .lower-component {
        overflow: auto;
    }
}

.main{
    height: 100%;
    min-height: calc(100vh - 202px);   
}
.split-pane-content-primary {
    height: 100%;
    .left {
        height: 100%;
    }
}
.floating-btn-group {
    z-index: 999;
    position: absolute;
}
.grid-screen {
    padding: 20px 35px;
}
.grid-ul {
    margin-top: 50px;
    padding: 0;
    max-width: 800px;
    li {
        padding-bottom: 20px;        
    }
    .icon {
        font-size: 18px;
        text-align: center;
    }
    .btn-area {
        font-size: 18px;        
        text-align: center;
        button {
            font-size: 18px;
            color: $title-color;
        }
    }
    dl {
        margin-bottom: 0;
    }
    dt {
        font-weight: 500;
        margin-bottom: 5px;
    }
    dd {
        color: $title-color;
        font-size: $font-tbl;
    }
    .subject {
        a {
            display: block;
            margin-bottom: 5px;
            color: $text-color;
            font-weight: 500;
        }
        span {
            font-size: $font-tbl;
            color: $title-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

.list-group-vertical {
    overflow: hidden;
    column-count: 6;
    column-gap: 30px;
    h5 {
        font-size: $font-md;
        padding: 15px;
        margin-bottom: 15px;
        background-color: $light-color;
    }
    li {
        padding: 0;
        margin-bottom: 25px;
        break-inside: avoid-column;
        -webkit-column-break-inside: avoid;        
    }
    .form-check-inline {
        display: block;
        padding: 0;
        margin: 0;
    }
}
.large-modal {
    .modal-lg {
        max-width: 1600px !important;
        width: 90%;
    }
}
.scenario-list {
	padding: 55px 0 30px;
	height: 100%;
	
}
.list-query-area {
    h2 {
		padding: 0 40px;
		margin-bottom: 30px;
    }
    .list-query {
        padding: 0 40px;
		height: calc(100% - 40px);  
		li {
			cursor: pointer;
			padding: 7px;
			&:hover {
				background-color: $sidebar-toolbar-color;
				a {
					text-decoration: underline;
				}
			}
		}      
    }
}

.select-accordian {
    .popover {
        max-width: 520px;
        min-width: 320px;
        // width: 400px;
        background-color: $success-color;        
        label, input {
            display: inline-block;
        }
        .list-group-item {
            background-color: transparent;
            padding: 5px 0;
            border: none;
        }
        select {
            background-color: $default-color;
        }
        .form-control {
            color: $dark-color;
            background-color: $bg-white;
            border: $border-color;
        }
        .col-form-label {
            color: $text-color-invert;
        }
    }
    .popover-body {
        color: $default-color;
    }
    .popover.bs-popover-top .arrow::after, .popover.bs-popover-auto[x-placement^="top"] .arrow::after {
        border-top-color: $success-color;
    }
    .card {
        box-shadow: none;   
        // border: 1px solid $border-color;     
        .card-header {
            border: 1px solid $border-color-thin;
            border-radius: 4px 4px 0 0;
            background-color: $accordion-head-color;
            height: 50px;
            small {
                position: relative;
                top: 2px;
            }
            .btn-collapse {
                padding: 0 5px;
                line-height: auto;
                background: transparent;
                color: $text-color;
				height: 30px;
				// -webkit-transition: all 0.3s; /* Safari */
				// transition: all 0.3s;
            }
            a, div {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

            }
			&.active {
				.btn-collapse {
					-ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
				}
			}
        }
        .card-body {
            padding: 0;
            border: 1px solid $border-color-thin;
            border-top: none;
            border-radius: 0;
            background-color: $light-color;
        }
    }
}

.vertical-accordion {
    .card {
        box-shadow: none;    
        border-radius: 0;    
        border: none; 
        a {
            color: $text-color;
        }
        .card-header {       
            padding: 0.25rem 0.5rem;     
            border-radius: 0;
            border-bottom: 1px solid $border-color;
            background-color: $default-color;
            .btn-collapse {
                padding: 0 5px;
                line-height: auto;
				background-color: $default-color;
            }
            .fa-plus {
                display: block;
            }
            .fa-minus {
                display: none;
            }
			&.active {
                a { 
                    color: $primary-color;
                }
                .fa-plus {
                    display: none;
                }
                .fa-minus {
                    display: block;
                }
				.btn-collapse {
					-ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
				}
			}
        }
        .card-body {
            padding: 0;
            // border: 1px solid $border-color;
            border-top: none;
            border-radius: 0;
            background-color: $default-color;
            visibility: hidden;
            height: 0;
            &.show {
                height: auto;
                visibility: visible;
                min-height: 200px;
            }
        }
        dl dt {
            float: left;
            margin-right: 5px; 
        }
    }
}
.bar-chart {
    height: 180px;
    width: 100%;
}
.final-chart {
    width: 70%;
    height: 120px;
}
.progress-range {
    float: right;
    margin: 8px 8px 0 0;
    font-size: $font-sm;
    color: $primary-color;
}
.bot-collapse-area {
    position: absolute;
    bottom: 0;
    left: $collapse-width;
    right: 0;
    height: 560px;
    padding: 1rem;
    background-color: $default-color;
    border-top: 5px solid $light-color;
    box-shadow: inset 0 1px 0 0 $border-color;

    -webkit-transition: height 0.3s; /* Safari */
    transition: height 0.3s;
    &.menu-collapsed {
        height: 0;
    }
}
horizontal-split-separator {
    background-color: $light-gray !important;
    box-shadow: inset 0 -1px 0 0 $light-gray;
    border-top: 1px solid $border-color !important;
    .handle {
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        text-rendering: auto;
        color: $title-color;
        background-color: $light-gray !important;
        &::before {
            content: "\f141"
        }
    }
}
// [_nghost-c6] {
    // border-left: 1px solid $border-color !important;
// }
.bx-workflow-diagram {
    [_nghost-c6] {
        border-left: none !important;
    }
}
.content-bot-area {
    position: relative;
    padding: 25px;
    height: calc(100vh - 300px);
    overflow-y: auto;
    &.output-item {
        height: 100%;
    }
}
// .content-bot-tab {
//     // overflow: hidden;
//     min-height: 600px;
//     height: 100%;
// }
.container-header {
	overflow: hidden;
    margin-bottom: 15px;
    &.powermode {
        overflow: visible;
    }
}
.tab-nav {
    float: left;
    position: relative;
    z-index: 2;
    width: 180px;
    
    // padding: 17px 30px;
    .nav-link {
        border-radius: 0;
        color: $text-color-invert;
        display: inline-block;
        padding: 10px 30px;
        background-color: $tab-bg-color;
        box-shadow: inset 0 -0.5px 0 0 $light-gray;
        border-bottom: 1px solid $default-color;
        &:hover {
            background-color: $light-color;
            color: $primary-color;
        }
        &.active {
            margin-right: -1px;
            background-color: $container-bg-color;
            color: $info-color;
            font-weight: 500;
            border-top: 1px solid $border-color-phantom;
            border-bottom: 1px solid $border-color;
            border-left: 4px solid $info-color;
            border-right: none;
            border-radius: 0;            
        }
    }
}
.tab-accoridan {
	height: 100%;
    border: 1px solid $border-color;
    border-right: none;
    .header-accoridan {
        padding: 12px;
        background-color: $primary-color;
        color: $default-color;
        font-size: $font-md;
        margin-bottom: 0;
    }
    .card {
        background-color: #f4f3f6;
        box-shadow: none;     
        margin-bottom: 0;
        box-shadow: inset 0 -1px 0 0 #d9d9d9;
        color: $text-color;
        &:last-child {
            box-shadow: none;
        }
        .card-header {
            background-color: transparent;
            a {
                color: $text-color;
                &:hover {
                    color: $info-color;
                }
            }         
            &.active {
                a {
                    color: $info-color;
                }
                .fa {
                    -ms-transform: rotate(90deg); /* IE 9 */
                    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
                    transform: rotate(90deg);
                }
            }
        }
        .card-body {
            padding: 0 15px;
        }
    }
    .form-check-inline {
        margin-left: 0;
    }
    .custom-control {
        min-height: auto;
        margin-bottom: 0;
    }
    // .container-inp {
    //     height: calc(100% - 500px);
    // }
}
.nav-btn-group {
    border-top: 1px solid $border-color;
    .nav-item {
        border-left: 1px solid $border-color;
        &:first-child {
            border-left: none;
        }        
    }
    .btn-md {
        height: 34px;
        vertical-align: top;
    }
    
}
.nav-result-status {
    position: absolute;
    top: 12px;
    left: 50%;    
    margin-left: -190px;
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: $default-color;
    padding: 0;
    overflow: hidden;
    li {
        height: 32px;
        padding: 0;
    }
    .nav-link {
        width: 140px;
        @include verticaldiv(32px);
        padding: 0;
        font-size: $font-tbl;
        color: $text-color;
        text-align: center;        
        background-color:  $default-color;
        border-radius: 0;
        &.active {
            background-color: $primary-color;
            color: $text-color-invert;
        }
    }
    &.nav-item:nth-of-type(1) {
        .nav-link {
            border-radius: 4px 0 0 4px;            
            border-right: none;
        }
    }
}
.vertical-split-grid {
    .left-component,
    .right-component {
        position: relative;
        padding: 15px 10px;
        .blind-curton {
            left: 10px;
            right: 10px;
            bottom: 15px;
            top: 150px;
        }
    }
    &.no-margin {
        .left-component,
        .right-component {
            padding: 0; 
            height: 100%;
        }
    }
}

.progress-area {
    .right-component {
        height: 610px;
        overflow-y: auto;
    }
}

.auto-height-table {
    .tab-content {
        height: 100%;
    }
    .tab-pane {
        height: 100%;        
    }
}
.tab-content.tab-grid {
    position: relative;
    z-index: 1;
    margin-left: 180px;
    min-height: 610px;
    // height: 100%;
    border: none;
    border: 1px solid $border-color-phantom;
    // padding: 22px 40px;
    &::after {
        content: " ";
        display: block;
        clear: both;
    }    
    &.tab-fill {
        margin-left: 0;
    }
}
.tab-inner-area {
    position: relative;
    padding: 20px 20px 10px 20px;
    height: calc(100% - 120px);
    background-color: $container-bg-color;
}
.patient-result {
    .tab-inner-area {
        background-color: $bg-gray-color-dark
    }
}
.footer{
    position: fixed;
    z-index: 999;
    bottom: 0;
    min-width: $window-width;
    height: $footer-height;
    left: $collapse-width;
    right: 0;
    background-color: $footer-bg-color;
    font-size: $font-tbl;
    padding-left: 40px;
    @include verticaldiv($footer-height);
    color: $text-color-invert;

    .message {
        margin-left: 150px;
        -webkit-transition: width 0.2s; /* Safari */
	    transition: width 0.2s;

        &.menu-collapsed{
            margin-left: 0px !important;
        }
    }
}
.form-line {
    margin-bottom: 15px;    
    .form-group {
        padding: 6px 0;
        border-bottom: 1px solid $border-color-light;        
    }
    label {
        max-width: 130px;
    }
}
.bot-table-area {
    position: relative;
}
.az-overlay{
    position: fixed;
    top:0;left:0;bottom: 0; right: 0;
    z-index: 8;
    background: rgba($primary-color, 0.2);
    width: 100%;
    height: 100%; 
    display: none;   
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.elipsis {
    width: 350px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
}

.sharedlist {
    height: 200px; 
    overflow-y: auto;
}

.excel-bar {
    .progress {
        height: 22px;
    }
}

.final-row {
    margin-top: 6px;
}

.final-bar {
    .progress {
        height: 26px;
        border-radius: 20px;
        .bg-info {
            background-color: $footer-bg-color !important;
        }
        .progress-text {
            color: #000;
            font-weight: 400;
            position: absolute;
            display: block;
            //left: 49%;
            left: calc(50% - 12px);
        }
        .half {
            color: #FFF;
        }
    }
}

.help-img {
    width: 70%;
}

.btn-log {
    border: none;
}

.assm-label {
    max-width: 175px !important;
}

.no-border {
    border: none !important;
}

.btn-ctg {
    width: 100px !important;
}

.share-list {
    .popover {
        text-align: center;
        min-width: 165px;
    }
}

.upload-area {
    height: 36px;
}

.upload-btn {
    margin-bottom: 1px;
}

.overview-header {
    color: $text-color-light;
    font-size: $font-md;
}

.overview-chart {
    margin-top: 33px;
    height: 365px;
}

.item-manager {
    .dx-datagrid-header-panel {
        height: 40px;
    }
    .filter-box {
        height: 35px;
    }
}

.citation {
    cursor: pointer;
}