.btn-close-side {
	// text-align: right;
	.btn {
		width: $collapse-width;
		height: $navbar-height;
		color: $text-color-invert;
	}	
}
.ci {
	margin: 40px 0 40px;
}
.sidebar{
	background: $sidebar-bg-color;
	height: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	width: $sidebar-width;
	// overflow: hidden;
	display: block;
	z-index: 1001;
	-webkit-transition: width 0.2s; /* Safari */
	transition: width 0.2s;
	.ci {
		width: 170px;
		height: 39px;
		background: url(images/ci.png) 0 0 no-repeat;
		background-size: 170px 39px;
		margin-left: 15px;
		img {
			display: none;
		}
	}
	&.powermode-sidebar {
		width: $sidebar-powermode-width;
		top: $navbar-height;
		z-index: 10;
	}
	&.menu-collapsed{
		width: $collapse-width;
		a.sidebar-list-link b{
			display: none;  
		}
		.ci {
			opacity: 0;
			-webkit-transition: opacity 0.2s; /* Safari */
			transition: opacity 0.2s;
			width: $collapse-width;
		}
		.sidebar-sublist{
			position: absolute;
			top: -1px;
			left: 52px;
			width: 0;
			display: block;
			overflow: hidden; 
		}
	}
	.nav{
		height: 100%;
		padding-bottom: 60px;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	// .ps-container {
	// 	overflow-y: auto !important;
	// 	overflow-x: auto !important;
	// }	
}
.inPorts {
	width: 300px;
	height: 200px;
} 
.sidebar-list-item {
	display: block;
	width: 100%;
	height: 59px;
	position: relative;
	float: none;
	padding: 0;
}
.powermode-list-item {
	display: block;
	width: 100%;
	height: 34px;
	position: relative;
	float: none;
	padding: 0;
}

a.sidebar-list-link {
	display: block;
	@include verticaldiv(59px);
	padding-left: 18px !important;
	padding-top: 0 !important;
	text-shadow: none;
	font-size: 13px;
	letter-spacing: 0.02em;
	text-decoration: none;
	color:$text-color-invert !important;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	i {
		margin-right: 16px;
		width: 16px;
		display: inline-block;
	}
	b {
		display: block;
		opacity: 1;
		width: 14px;
		height: 14px;
		line-height: 14px;
		text-shadow: none;
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 14px;
		padding: 0;
		text-align: center;
		color:$default-color;
		-webkit-transition: -webkit-transform 0.2s linear;
		-moz-transition: -moz-transform 0.2s linear;
		-ms-transition: -ms-transform 0.2s linear;
		-o-transition: -o-transform 0.2s linear;
		transition: transform 0.2s linear;
	}
	&:hover{
		 background-color: $primary-color;
	}
}
.search-field {
	padding: 20px;
	border: none;
	legend {
		position: absolute;
		top: -999em;
	}
	.input-group {
		background-color: rgba(143, 142, 148, 0.14);
		border: none;
	}
	input {
		border: none;
		border-radius: 2px;
		color: $title-color-light;
		background-color: rgba(143, 142, 148, 0.14);
		&:focus {
			color: $default-color;
			background-color: rgba(143, 142, 148, 0.14);
		}
	}
	.input-group-append {
		background-color: rgba(143, 142, 148, 0.14);
		font-size: $font-md;
		@include verticaldiv(34px);
		padding: 0 10px;
		color: $title-color-light;
	}
}
.powermode-sidebar-nav {
	height: calc(100vh - 265px);
	border-top: 3px solid $info-color;
	overflow-y: auto;
}
.powermode-sidebar {
	.card {
		margin-bottom: 0;
		background: transparent;
		border: none;
		border-radius: 0;	
		display: block;
	}
	.card-body {
		visibility: hidden;
		position: absolute;
		top: -1000rem;
		height: 0;
		padding: 0;
		&.show {
			position: relative;
			top: 0;
			padding: 15px;
			border-top: 1px solid $border-color;
			height: auto;
			visibility: visible;
		}
		ul {
			margin: 0; padding: 0;
		}
		li {
			position: relative;
			padding-left: 25px;
			color: #cecdd2;
			// @include verticaldiv(30px);
			height: 30px;
			font-size: $font-tbl;
			cursor: pointer;
			&:hover {
				color: $info-color;
			}
			&.dragging {
				background-color: $info-color;
				color: $default-color;
				border-radius: 4px;
				box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.card-header {
		padding: 0;
		a {
			display: block;
			padding: 0.75rem 1.25rem;
			color: $text-color-invert;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			&:hover{
				background-color: $info-color;
				color: $text-color-invert;
			}
			i {
				margin-right: 10px;
				display: inline-block;
			}
		}
		&.active a {
			background-color: $info-color;
			color: $text-color-invert;	
			i {
				transform: rotate(90deg);
			}
		}
	}
}

.sidebar-list-item.sidebar-item-expanded>.sidebar-list-link b,
.sidebar-sublist-item.sidebar-item-expanded>.sidebar-list-link b{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sidebar-sublist{
	display: none;
	padding: 0;
	list-style: none;
	position: relative;
	li {
		display: block;
		float: none;
		padding: 0;
		border-bottom: none;
		position: relative;
		border-bottom: 1px solid rgba($primary-color,0.7);
		&:last-child{
			border-bottom: none;
		}
		a {
			display: block;
			text-shadow: none;
			font-size: 13px;
			text-decoration: none;
			color: $default-color;
			padding-left: 50px !important;      
			height: 42px;
			line-height: 42px; 
			&:before{
				font-family: FontAwesome;
				content: "\f1db";
				margin-right: 10px;
				font-size: 10px;
			} 
			&:hover{
				background-color: $primary-color; 
			}
		}
	}
	.subitem-submenu-list li {
		border-top: 1px solid rgba($primary-color, 0.7);
		a{
			padding-left: 65px !important;    
		}
	}
}

.sidebar-item-expanded>ul.sidebar-sublist {
	background-color: rgba($primary-color, 0.5);
}

.subitem-submenu-link .fa {
	top: 14px;
}

.sidebar-hover-elem{
  width: 4px;
  background: $sidebar-item-active-bg-color;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition-property: top, height;
  height: 36px;
  display: block;
}
// .sidebar.menu-collapsed .sidebar-hover-elem{
//      left: 46px;
// }

.active-link{
	background-color: $sidebar-item-active-bg-color;
}


@media (max-width: 544px) {
  .sidebar.menu-collapsed {
	width: 0;
  }
  .sidebar-hover-elem, .sidebar-select-elem {
	display: none;
  }

}

