.title-workflow {
    font-size: 17px;
    font-weight: 500;
    // color: $title-color;
    margin-bottom: 20px;
    small {
        color: $text-color-light;
    }
}
.title-section {
    font-size: 17px;
    font-weight: 500;
    color: $text-color;
    margin-bottom: 20px;
}
.title-section-sub {
    font-size: $font-md;
    font-weight: 500;
    color: $text-color;
    margin: 20px 0 15px 15px;
}
.title-grid {
    font-size: 17px;
    font-weight: 500;
    background-color: #f3f3f3;
    padding-left: 40px;
    @include verticaldiv(56px);
    box-shadow: inset 0 -1px 0 0 $border-color;
}
.title-grid-sub {
    color: $text-color-light;
    font-size: 17px;
    margin-bottom: 15px;
    // font-weight: 500;
}