.card-workflow-body {
    padding: 0;
}
.bx-workflow-diagram {	
	overflow: hidden;
}
.upper-component {
    // max-height: 230px;
    // max-height: 260px;
    overflow: hidden;
}
.wrap-slider {
    position: relative;
    width: 100%;
    
    &.expand {
        position: fixed !important;
        z-index: 9999;
    }
}

.workflow {
    padding: 20px;
    font-size: 13px;
    height: 100%;
    background-color: $container-bg-color;
    &.workflow-basic {
        float: left;
        width: 400px;
        height: 225px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
    &.workflow-card {
        height: 225px;
        border-bottom: 1px solid $border-color;
        background-color: $bg-gray-color;
        overflow: hidden;
        .controls {
            top: 80px;
            button:disabled {
                opacity: 0;
            }
        }
    }
    
    dl {
       margin: 0;
       dt {
            // float: left;
            // width: 60px;
            font-weight: normal;
            color: $title-color;
            margin-right: 5px;
        }
    }
    .btn-group-right {
        position: absolute;
        top: 10px;
        right: 20px;
        .btn {
            border: none;
        }
        .btn-rounded {
            border-radius: 17px;
            font-size: $font-md;
            height: 34px;
            padding: 0 15px;            
        }
    }
}
.col-birthday {
    .dropdown-menu {
        position: fixed;
        left: 200px !important;
        top: 250px !important;
    }
}

.btn-card-more {
    position: absolute;
    display: block;
    padding: 0;
    left: 1px;
    right: 1px;    
    bottom: -3px;
    height: 20px;
    width: 194px;
    font-size: $font-xs;
    color: $text-color; 
    border-radius: 0;
    background-color: $btn-light-color;
    &:hover {
        background-color: $success-color;
    }
}

.workflow-diagram {
    position: relative;
    float: left;	
    min-width: 300px !important;
    padding-bottom: 50px;
    // &.first {
    //     width: 200px !important;
    //     min-width: 200px !important;
    // }
    &.workflow-disabled {
        opacity: 0.3;
    }
    .d-inline-block {
        position: absolute;
        left: 18px;
        top: 32px;
        .btn-outline-primary {      
            font-size: $font-md;
            border-radius: 17px;           
            background-color: $default-color;
            &:hover {
                background-color: $primary-color;
            }
        } 
        .btn-outline-primary:active, 
        .btn-outline-primary.active, 
        &.show > .btn-outline-primary.dropdown-toggle {
            background-color: $info-color;
        }
        .btn-outline-secondary {
            font-size: $font-md;
            border-radius: 17px;   
            color: $light-color;
            border: 1px solid $light-color;        
            background-color: $default-color;
            &:hover {
                color: $light-color;
            }
        }
        
        .dropdown-menu {
            min-width: 66px;
            width: 66px;
        }
        .dropdown-item {
            padding: 0.25rem 20px;
        }
       
    }       
    .card {
        position: relative;
        float: right;
		z-index: 2;
		width: 200px;
        height: 150px;
        min-height: 150px;
        box-shadow: none;
        border-radius: 4px;
        border: 2px solid $primary-color;
        background-color: $primary-color;
        dl {
            margin-bottom: 0;
        }
        .card-header {
            height: 40px;
            border-radius: 4px 4px 0 0;
            color: $text-color-invert;
            cursor: move;
            // background-color: $primary-color;
            // box-shadow: inset 0 -1px 0 0 $light-gray;
            a {
                color: $text-color-invert;
            }
        }
		.card-body {
            position: relative;
            padding: 10px;
            border-radius: 0 0 4px 4px;
            border: 1px solid $border-color;
            border-top: none;
            background-color: $default-color;
            border-radius: 4px;
            height: 110px;
            overflow: hidden;
            .card-link {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 15px;      
                &:hover {
                    background-color: $dark-color;
                    opacity: 0.1;                   
                }          
            }
            p {
                margin: 2px 0;
                font-size: $font-sm;
            }
            dl {
                margin: 2px 0;
                font-size: $font-sm;
                dt {
                    display: block;
                    float: none;
                    color: $text-color;           
                    // font-weight: 500;        
                } 
                dd {
                    width: 180px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0 0 0 -10px;
                    text-indent: 10px;
                    font-size: $font-sm;
                    color: $title-color;
                    font-weight: 200;
                }
                .fa {
                    color: $info-color;
                    margin-right: 5px;
                }
            }
        }
        
    }
    &.default {
        min-width: 200px !important;
        .card {
            background-color: $default-color;
            border: 2px dotted $light-color;
            small {
                margin-top: 15px;
            }
        }    
        .inner {
            margin: 40px auto;
            width: 86px;
            color: $title-color;
            text-align: center;
            line-height: 1rem;
            span {
                display: block;
                margin: 0 auto;
                text-align: center;
            }
            i {
                color: $light-color;
            }
        }    
    }
    
    .line-box {
        z-index: 1;
        float: left;
        text-align: center;
        cursor: pointer;
        .line {
            stroke: $success-color;
            stroke-linejoin: round;
            stroke-width: 3px;
            &.default {
                stroke: $light-color;
            }
        }
        .text {
            fill: #000;
        }
        &.active {
            .line {
                stroke: $brand-danger;
            }
            .text {
                fill: $brand-danger;
            }
        }
    } 
    &.expand {
        z-index: 9999;       
        .card {
            height: auto;
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 16px 24px 2px rgba(0, 0, 0, 0.14);
            
        }       
        .card-body {
            height: auto;
            overflow: visible;
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            -ms-transition: height 0.5s;
            -o-transition: height 0.5s;
            transition: height 0.5s;
        }
        .btn-card-more {
            display: none;
        }
    }   
}

.leftRs {
    z-index: 10000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 100px;
    bottom: 0;
    // width: 50px;
    // height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    // border-radius: 999px;
    left: 0;
}

.rightRs {
    z-index: 10000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    // width: 50px;
    // height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    // border-radius: 999px;
    right: 0;
}

.ngxcarousel-items  {
    width: 500px;
    .item:first-child {
        width: 200px !important;
        .card {
            float: left;
        }
    }
}