<div class="btn-close-side">
    <button type="button" class="btn btn-dark btn-close-side" (click)="toggleMenu()">
        <i class="fal fa-bars" aria-hidden="true"></i>
        <span class="sr-only">Menu</span>
    </button>    
</div>

<h2 class="ci text-center">
    <img src="assets/styles/images/ci.png" width="150" alt="">
</h2>
<ul class="nav nav-sidebar flex-column">
    <!-- Home -->
    <li class="sidebar-list-item">
        <a class="sidebar-list-link" routerLinkActive="active" (click)="goToHome()">
            <i class="fal fa-home" aria-hidden="true" 
                ngbTooltip="Home"
                container="body"
                placement="right"></i>
            <span>Home</span>
        </a>
    </li>  
    <!-- New scenario -->
    <li class="sidebar-list-item">
        <a class="sidebar-list-link" routerLinkActive="active" (click)="newQuery()">
            <i class="fal fa-file" aria-hidden="true"
                ngbTooltip="{{'renewal2017.nav-new-query' | translate}}"
                container="body"
                placement="right"></i>
            <span>{{'renewal2017.nav-new-query' | translate}}</span>
        </a>
    </li>
    <!-- Open scenario -->
    <li class="sidebar-list-item">
        <a routerLink="/tempAuth.do/basicmode/scenario" skipLocationChange class="sidebar-list-link" routerLinkActive="active">
            <i class="fal fa-folder-open" aria-hidden="true" 
                ngbTooltip="{{'renewal2017.nav-open-query' | translate}}"
                container="body"
                placement="right">
            </i>
            <span>{{'renewal2017.nav-open-query' | translate}}</span>
        </a>
    </li>    
    <!-- Save scenario -->
    <li class="sidebar-list-item">
        <a href="javascript:void(0)" routerlink="/" class="sidebar-list-link" (click)="saveScenario()">
            <i class="fal fa-floppy-o" aria-hidden="true"
                ngbTooltip="{{'renewal2017.nav-save-query' | translate}}"
                container="body"
                placement="right"></i>
            <span>{{'renewal2017.nav-save-query' | translate}}</span>
        </a>
    </li>
    <!-- Upload scenario -->
    <!-- <li class="sidebar-list-item">
        <a href="javascript:void(0)" routerlink="/" class="sidebar-list-link" (click)="uploadPatients()"
            [ngClass]="{'disable-link': isPatientList }">
            <i class="fal fa-upload" aria-hidden="true"
            ngbTooltip="{{'renewal2017.nav-upload-patient.title' | translate}}"
            container="body"
            placement="right"></i>
            <span>{{'renewal2017.nav-upload-patient.title' | translate}}</span>
        </a>
    </li> -->
    <!-- Help -->
    <li class="sidebar-list-item">
        <a href="javascript:void(0)" routerlink="/" class="sidebar-list-link" (click)="help()">
            <i class="fal fa-question-circle" aria-hidden="true"
            ngbTooltip="{{'research.help' | translate}}"
            container="body"
            placement="right"></i>
            <span>{{'research.help' | translate}}</span>
        </a>
    </li>
    <!-- Admin -->
    <li class="sidebar-list-item" *ngIf="adminYn">
        <a routerLink="/tempAuth.do/basicmode/admin" skipLocationChange class="sidebar-list-link" routerLinkActive="active">
            <i class="fal fa-cog" aria-hidden="true"
            ngbTooltip="{{'resch.admin' | translate}}"
            container="body"
            placement="right"></i>
            <span>{{'resch.admin' | translate}}</span>
        </a>
    </li>    
    <!-- IRB Approvals -->
    <!-- <li class="sidebar-list-item">
        <a href="javascript:void(0)" routerlink="/" class="sidebar-list-link">
            <i class="fal fa-check-square-o" aria-hidden="true"></i>
            <span>{{'renewal2017.IRBApproval' | translate}}</span>
        </a>
    </li> -->
</ul>