<form ngNoForm name="relatedDownForm" action="{{excelUrl}}" target="_blank" method="POST" #relatedDownForm>
  <input type="hidden" name="fileName" value="{{exFileName}}">
  <input type="hidden" name="filePath" value="{{exFilePath}}">
  <button type="submit" id="btn-submit-related-excel" onclick="relatedDownForm.submit()" hidden>Download</button>
</form>
<div class="btn-close-side" *ngIf="isRelatedDownload()">
    <button type="button" class="btn btn-dark btn-close-side" (click)="relatedDownload()">
        <i class="fal fa-bars" aria-hidden="true"></i>
        <span>Related Download</span>
    </button>
</div>

<ul class="nav nav-sidebar flex-column" style="padding-top:16px;">
    <!-- Home -->
    <li class="sidebar-list-item">
        <a class="sidebar-list-link">
            <i class="fal fa-home" aria-hidden="true"
                ngbTooltip="Home"
                container="body"
                placement="right"></i>
            <span>{{cohortName}}</span>
        </a>
      <ul class="nav nav-sidebar flex-column" style="padding-left:20px;">
        <li class="sidebar-list-item" *ngFor="let tbl of tbls;let i='index'">
          <a class="sidebar-list-link" routerLinkActive="active" (click)='openTable(i,tbl.TBL_ID)' [class.active]="tbl.done" >
            <i class="fal fa-table" aria-hidden="true"
               ngbTooltip="FT_COH_PRC_{{tbl.TBL_SFX}}"
               container="body"
               placement="right"></i>
            <span>{{tbl.PRC_CNTE}}</span>
          </a>
        </li>
      </ul>
    </li>
 </ul>
