<div style="/*height:100%;*/overflow-y:auto;">
<horizontal-split-pane
  [primary-component-toggled-off]="false"
  [secondary-component-toggled-off]="false"
  local-storage-key="split-pane"
  separator-thickness="1">
  <div class="split-pane-content-primary">
    <div class="upper" style="height: 380px;">
      <vertical-split-pane
        class="vertical-split-grid"
        primary-component-minsize="80"
        secondary-component-minsize="80"
        primary-component-initialratio="0.5"
        separator-thickness="1">
        <div class="split-pane-content-primary">
          <div class="left">
            <div class="dx-viewport demo-container parentDiv" style="margin-left: 30px;margin-right: 30px;margin-top:40px;height: 100%;">
              <div class="row dx-datagrid-title" style="margin-top:16px;margin-bottom: 7px;">
                <div class="col-6"><h5>정규식 카테고리</h5></div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-light btn-sm" (click)="addCtg()">
                    <i class="fal fa-plus" aria-hidden="true"></i>
                    {{'cohort.mart.table.add' | translate}}
                  </button>
                </div>
                <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
              </div>
              <div id="tableDataArea" class="row" style="height: 280px;overflow-y: auto;">
                <table class="table table-hover demo-table-search table-responsive-blockd">
                  <thead>
                  <tr>
                    <th>{{'cohort.name' | translate}}</th>
                    <th>{{'cohort.cnte' | translate}}</th>
                    <th>{{'cohort.date' | translate}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody *ngIf ="regexpCategorys">
                  <tr *ngFor="let rgepCtg of regexpCategorys; let idx = index">
                    <td (click)="onRowClick(rgepCtg.CTG_CD, rgepCtg.CTG_NM)" style="cursor:pointer;">{{rgepCtg.CTG_NM}}</td>
                    <td (click)="onRowClick(rgepCtg.CTG_CD, rgepCtg.CTG_NM)" style="cursor:pointer;">{{rgepCtg.CTG_CNTE}}</td>
                    <td (click)="onRowClick(rgepCtg.CTG_CD, rgepCtg.CTG_NM)" style="cursor:pointer;">{{rgepCtg.LOAD_DTM}}</td>
                    <td>
                      <button type="button"
                              class="btn btn-text-type"
                              ngbTooltip="{{'research.modify' | translate}}"
                              (click)="ctgEdit(idx)" >
                        <i class="fal fa-edit" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.modify' | translate}}</span>
                      </button>
                      <button type="button"
                              class="btn btn-text-type"
                              ngbTooltip="{{'research.delete' | translate}}"
                              (click)="ctgDelete(idx)" >
                        <i class="fal fa-trash" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!regexpCategorys">
                  <tr>
                    <td class="text-center" colspan="4">No Data.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="split-pane-content-secondary" style="height:100%;">
          <div class="right" style="height: calc(100% - 280px);">
            <div class="dx-viewport demo-container parentDiv" style="margin-left: 30px;margin-right: 30px;margin-top:40px;height: 100%;">
              <div class="row dx-datagrid-title" style="margin-top:16px;margin-bottom: 7px;">
                <div class="col-6"><h5>정규식 항목{{regularCategoryName}}</h5></div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-light btn-sm" (click)="addRgep()">
                    <i class="fal fa-plus" aria-hidden="true"></i>
                    {{'cohort.mart.table.add' | translate}}
                  </button>
                </div>
                <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
              </div>
              <div class="row" style="height: 280px;overflow-y: auto;">
                <table class="table table-hover demo-table-search table-responsive-blockd">
                  <thead>
                  <tr>
                    <th>{{'cohort.name' | translate}}</th>
                    <th>{{'cohort.cnte' | translate}}</th>
                    <th>{{'cohort.date' | translate}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody *ngIf ="regexps">
                  <tr *ngFor="let reg of regexps; let idx = index">
                    <td (click)="onRgepClick(idx)" style="cursor:pointer;">{{reg.RGEP_NM}}</td>
                    <td (click)="onRgepClick(idx)" style="cursor:pointer;">{{reg.RGEP_CNTE}}</td>
                    <td (click)="onRgepClick(idx)" style="cursor:pointer;">{{reg.LOAD_DTM}}</td>
                    <td>
                      <button type="button"
                              class="btn btn-text-type"
                              ngbTooltip="{{'research.modify' | translate}}"
                              (click)="rgepEdit(idx)" >
                        <i class="fal fa-edit" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.modify' | translate}}</span>
                      </button>
                      <button type="button"
                              class="btn btn-text-type"
                              ngbTooltip="{{'research.delete' | translate}}"
                              (click)="rgepDelete(idx)" >
                        <i class="fal fa-trash" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="regexps.length<=0">
                  <tr>
                    <td class="text-center" colspan="4">No Data.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </vertical-split-pane>
    </div>
  </div>
  <div class="split-pane-content-secondary">
    <div class="lower">
      <vertical-split-pane
        class="vertical-split-grid"
        primary-component-minsize="80"
        secondary-component-minsize="80"
        primary-component-initialratio="0.5"
        separator-thickness="1">
        <div class="split-pane-content-primary">
          <div class="left">
            <div class="dx-viewport demo-container parentDiv" style="margin-left: 30px;margin-right: 30px;margin-top:40px;height: 100%;">
              <div class="row dx-datagrid-title" style="margin-top:16px;margin-bottom: 7px;">
                <div class="col-6"><h5>Text</h5></div>
                <div class="col-6 text-right">
                  <!--button type="button" class="btn btn-light btn-sm" (click)="addCtg()">
                    <i class="fal fa-plus" aria-hidden="true"></i>
                    {{'cohort.mart.table.add' | translate}}
                  </button//-->
                </div>
                <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
              </div>
              <div class="row">
                <div class="col-12" style="min-height:200px;display:block;border-bottom: solid 1px darkgray;" contenteditable="true" id="textArea"
                     (input)="textAreaChanged()"></div>
              </div>
              <div class="row dx-datagrid-title" style="margin-top:16px;margin-bottom: 7px;">
                <div class="col-6"><h5>RESULT</h5></div>
                <div class="col-6 text-right">
                  <!--button type="button" class="btn btn-light btn-sm" (click)="addCtg()">
                    <i class="fal fa-plus" aria-hidden="true"></i>
                    {{'cohort.mart.table.add' | translate}}
                  </button//-->
                </div>
                <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
              </div>
              <div class="row">
                <div class="col-12" style="min-height:200px;display:block;border-bottom: solid 1px darkgray;" contenteditable="true" id="resultArea"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="split-pane-content-secondary" style="height:100%;">
          <div class="right" style="height: calc(100% - 280px);">
            <div class="dx-viewport demo-container parentDiv" style="margin-left: 30px;margin-right: 30px;margin-top:40px;height: 100%;">
              <div class="row dx-datagrid-title" style="margin-top:16px;margin-bottom: 7px;">
                <div class="col-6"><h5>정규식</h5></div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-light btn-sm" (click)="rgepSave()">
                    <i class="fal fa-save" aria-hidden="true"></i>
                    {{'cohort.save' | translate}}
                  </button>
                </div>
                <div class="col-12"><span>{{rgepName}}</span></div>
                <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
              </div>
              <div class="row">
                <!--textarea class="form-control" style="in-height:200px;height:200px;display:block;border:0px;border-bottom: solid 1px darkgray;"
                          (ngModelChange)="changeRegexp($event)" [ngModel]="regexp"
                ></textarea//-->
                <div class="col-12" style="min-height:200px;display:block;border-bottom: solid 1px darkgray;" id="regexp" contenteditable="true"
                     (input)="regexChanged()"></div>
              </div>
            </div>
          </div>
        </div>
      </vertical-split-pane>
    </div>
  </div>
</horizontal-split-pane>
</div>
