<dx-tree-list
    id="concern-server"
    class="gridContainer floor-510"
    keyExpr="cncnPtNdSeq"
    parentIdExpr="uprCncnPtNdSeq"
    [dataSource]="dataSource"
    [allowColumnResizing]="true"
    (onNodesInitialized)="onNodesInitialized($event)"
    (onCellClick)="onRowClick($event)"
    (onContentReady)="onContentReady($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    itemsExpr="item"
    dataStructure="tree"
    [showRowLines]="true">
    <dxo-filter-row 
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
    <dxi-column dataField="cncnPtNdCnte" caption="{{'renewal2017.concern-patient.title' | translate}}"></dxi-column>
    <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}"></dxi-column>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection
        mode="multiple"
        [selectAllMode]="allMode"
        [recursive]="true"
        showCheckBoxesMode="onClick">
    </dxo-selection>
    <dxo-sorting mode="single"></dxo-sorting>   

    <div *dxTemplate="let data of 'totalCount'">
        <h3 class="title-grid-sub float-left">
            {{'renewal2017.concern-patient.title' | translate}}            
            <!-- <span class="text-info ml-1" style="font-size: 13px !important;">관심 환자를 선택한 후 적용 버튼을 눌러주세요.</span> -->
        </h3>
        <!-- <button 
            class="btn btn-light btn-sm ml-1 float-right" 
            (click)="apply()">
            <i class="fal fa-check" aria-hidden="true"></i>
            {{'common.apply' | translate}}
        </button> -->
    </div>
</dx-tree-list>
<div *ngIf="loading" class="blind-curton">
    <div class="load-spinner">
        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div>