<h3 class="title-grid-sub mb-3">
    {{'renewal2017.selectResult' | translate}}
</h3>
<ngb-accordion #accDiag="ngbAccordion"
    [closeOthers]="true"
    activeIds="concernPanel"
    class="select-accordian">
<div>
    <ngb-panel id="concernPanel">
        <ng-template ngbPanelTitle>
            <div class="float-left floating-btn-group">
                <small>{{totalCount}} {{'renewal2017.selectEa' | translate}}</small>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-collapse" ngbTooltip="{{'research.all.delete' | translate}}" (click)="onDeleteAll($event)">
                    <i class="fal fa-times" aria-hidden="true"></i>
                    <span class="sr-only">{{'research.all.delete' | translate}}</span>
                </button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <dx-data-grid
                class="gridSelect floor"
                [dataSource]="dataSource"
                (onContentReady)="onContentReady($event)"
                [height]="380">
                <dxi-column dataField="cncnPtNdCnte" caption="{{'renewal2017.concern-patient.title' | translate}}"></dxi-column>
                <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}"></dxi-column>
                <dxi-column  [width]="50"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    cellTemplate="cellTemplate">
                </dxi-column>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="single"></dxo-sorting>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <button type="button" class="btn btn-text-type" title="close" (click)="onDeleteRow(data)">
                        <i class="fal fa-times-circle" aria-hidden="true"></i>
                        <span class="sr-only">close</span>
                    </button>
                </div>
            </dx-data-grid>
            <div class="guide-curton guidemode" *ngIf="!dataSource.length && isLoadtable">
                <div class="bg"></div>
                <p class="text">
                    <i class="fal fa-check text-primary"></i>
                    <i class="fal fa-mouse-pointer"></i>
                    <span>{{'renewal2017.p.notice-add-data2' | translate}}</span>
                </p>  
            </div>
        </ng-template>
    </ngb-panel>
</div>
</ngb-accordion>    
