<style type="text/css">
.dx-texteditor-input{
    font-size: 14px;
    padding: 0 0.75rem;
    height: 34px;
    border: 1px solid #89898a;
    color: #242424;
    background-color: #fff;
}

</style>

<div class="tab-inner-area">
    <form [formGroup]="pathForm">
        <div class="col-sm-12 form-line">
            <!-- 검사시행일 -->
            <div class="form-group row">
                <label for="path-2" class="col-sm-2 col-form-label">
                    {{'research.examination.date' |  translate}}
                </label>
                <div class="col-sm-7">
                    <!-- <dashboard-datepicker
                        (secDate)="selectDate($event)" [secCode]="'datepicker-period'"
                        [storageDate]="storageDate">
                    </dashboard-datepicker> -->
                    <daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
                </div>                    
            </div>
            <!-- Free Text -->
            <div class="form-group row" style="padding-top: 13px; padding-bottom: 13px;">
                <label for="path-4" class="col-sm-2 col-form-label">
                    {{'renewal2017.pathology.primary-organ' | translate}}
                </label>
                <div class="col-sm-10" *ngIf="primaryCtrl.freeText">                    
                    <span *ngFor="let cond of primaryCtrl.freeText; let idx = index">
                        <select
                            [hidden]="!idx"
                            class="form-control float-left mr-1 custom-select select-condition"
                            title="select condition"
                            formControlName="freeTextCondition-{{idx}}-primaryCtrl"
                            [(ngModel)]="primaryCtrl.freeTextCondition[idx]">
                            <option value="and" selected>and</option>
                            <option value="or">or</option>
                            <option value="not">not</option>
                        </select>
                    <!--    <input
                            type="text"
                            class="form-control input-date-sm float-left mr-1"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-primaryCtrl"
                            placeholder="freeText-{{idx}}-primaryCtrl"
                            style="width:165px;"
                            [ngModel]="primaryCtrl.freeText[idx]">   -->

                        <dx-autocomplete
                            class="no-border input-date-sm float-left mr-1"
                            id="freeText-{{idx}}-primaryCtrl"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-primaryCtrl"
                            style="width:165px;"
                            [maxItemCount]="1000"
                            [ngModel]="primaryCtrl.freeText[idx]"
                            [showClearButton]="false"
                            [dataSource]="AutoCompleteList.priLdatVal"
                            (onFocusIn)="defaultAutoComplete($event)"
                            (onFocusOut)="getPosition($event)">
                            <div *dxTemplate="let item of 'item'">
                                <span class="autocomplete" title="{{item}}"> {{item}} </span>
                            </div>
                        </dx-autocomplete>    
                    </span>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="addCondition(primaryCtrl, 0)"
                        [disabled]="primaryCtrl.freeTextCondition.length > 4">
                        <i class="fal fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.add' | translate}}</span>
                    </button>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="delCondition(primaryCtrl, 0)"
                        [disabled]="primaryCtrl.freeTextCondition.length === 1">
                        <i class="fal fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                    </button>               
                </div>
            </div>
            <div class="form-group row" style="padding-top: 13px; padding-bottom: 13px;">
                <label for="path-4" class="col-sm-2 col-form-label">
                    {{'renewal2017.pathology.diagnosis' | translate}}
                </label>
                <div class="col-sm-10" *ngIf="diagnosisCtrl.freeText">                    
                    <span *ngFor="let cond of diagnosisCtrl.freeText; let idx = index">
                        <select
                            *ngIf="idx"
                            class="form-control float-left mr-1 custom-select select-condition"
                            title="select condition"
                            formControlName="freeTextCondition-{{idx}}-diagnosisCtrl"
                            [(ngModel)]="diagnosisCtrl.freeTextCondition[idx]">
                            <option value="and" selected>and</option>
                            <option value="or">or</option>
                            <option value="not">not</option>
                        </select>
                    <!--     <input
                            type="text"
                            class="form-control input-date-sm float-left mr-1"
                            id="freeText-{{idx}}-diagnosisCtrl"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-diagnosisCtrl"
                            (focus)="getPosition($event.target)"
                            style="width:165px;"
                            [value]="diagnosisCtrl.freeText[idx]">  -->
                        <dx-autocomplete
                            class="no-border input-date-sm float-left mr-1"
                            id="freeText-{{idx}}-diagnosisCtrl"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-diagnosisCtrl"
                            style="width:165px;"
                            [maxItemCount]="1000"
                            [ngModel]="diagnosisCtrl.freeText[idx]"
                            [showClearButton]="false"
                            [dataSource]="AutoCompleteList.dgnsLdatVal"
                            (onFocusIn)="defaultAutoComplete($event)"
                            (onFocusOut)="getPosition($event)">
                            <div *dxTemplate="let item of 'item'">
                                <span class="autocomplete" title="{{item}}"> {{item}} </span>
                            </div>
                        </dx-autocomplete>
                        
                    </span>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="addCondition(diagnosisCtrl, 1)"
                        [disabled]="diagnosisCtrl.freeTextCondition.length > 4">
                        <i class="fal fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.add' | translate}}</span>
                    </button>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="delCondition(diagnosisCtrl, 1)"
                        [disabled]="diagnosisCtrl.freeTextCondition.length === 1">
                        <i class="fal fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                    </button>               
                </div>
            </div>
            <div class="form-group row" style="padding-top: 13px; padding-bottom: 13px;">
                <label for="path-4" class="col-sm-2 col-form-label" >
                    {{'renewal2017.pathology.procedure' | translate}}
                </label>
                <div class="col-sm-10" *ngIf="procedureCtrl.freeText">                    
                    <span *ngFor="let cond of procedureCtrl.freeText; let idx = index">
                        <select
                            *ngIf="idx"
                            class="form-control float-left mr-1 custom-select select-condition"
                            title="select condition"
                            formControlName="freeTextCondition-{{idx}}-procedureCtrl"
                            [(ngModel)]="procedureCtrl.freeTextCondition[idx]">
                            <option value="and" selected>and</option>
                            <option value="or">or</option>
                            <option value="not">not</option>
                        </select>
                    <!--    <input
                            type="text"
                            class="form-control input-date-sm float-left mr-1"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-procedureCtrl"
                            
                            style="width:165px;"
                            [value]="procedureCtrl.freeText[idx]"> -->
                         <dx-autocomplete
                            class="no-border input-date-sm float-left mr-1"
                            id="freeText-{{idx}}-procedureCtrl"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-procedureCtrl"
                            style="width:165px;"
                            [maxItemCount]="1000"
                            [ngModel]="procedureCtrl.freeText[idx]"
                            [showClearButton]="false"
                            [dataSource]="AutoCompleteList.pcLdatVal"
                            (onFocusIn)="defaultAutoComplete($event)"
                            (onFocusOut)="getPosition($event)">
                            <div *dxTemplate="let item of 'item'">
                                <span class="autocomplete" title="{{item}}"> {{item}} </span>
                            </div>
                        </dx-autocomplete>
                           
                    </span>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="addCondition(procedureCtrl, 2)"
                        [disabled]="procedureCtrl.freeTextCondition.length > 4">
                        <i class="fal fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.add' | translate}}</span>
                    </button>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="delCondition(procedureCtrl, 2)"
                        [disabled]="procedureCtrl.freeTextCondition.length === 1">
                        <i class="fal fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                    </button>               
                </div>
            </div>
            <div class="form-group row" style="padding-top: 13px; padding-bottom: 13px;">
                <label for="path-4" class="col-sm-2 col-form-label">
                    {{'renewal2017.pathology.secondary-organ' | translate}}
                </label>
                <div class="col-sm-10" *ngIf="secondaryCtrl.freeText">                    
                    <span *ngFor="let cond of secondaryCtrl.freeText; let idx = index">
                        <select
                            *ngIf="idx"
                            class="form-control float-left mr-1 custom-select select-condition"
                            title="select condition"
                            formControlName="freeTextCondition-{{idx}}-secondaryCtrl"
                            [(ngModel)]="secondaryCtrl.freeTextCondition[idx]">
                            <option value="and" selected>and</option>
                            <option value="or">or</option>
                            <option value="not">not</option>
                        </select>
                    <!--    <input
                            type="text"
                            class="form-control input-date-sm float-left mr-1"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-secondaryCtrl"
                            
                            style="width:165px;"
                            [value]="secondaryCtrl.freeText[idx]">  -->
                        <dx-autocomplete
                            class="no-border input-date-sm float-left mr-1"
                            id="freeText-{{idx}}-secondaryCtrl"
                            title="Free Text"
                            formControlName="freeText-{{idx}}-secondaryCtrl"
                            style="width:165px;"
                            [maxItemCount]="1000"
                            [ngModel]="secondaryCtrl.freeText[idx]"
                            [showClearButton]="false"
                            [dataSource]="AutoCompleteList.scndLdatVal"
                            (onFocusIn)="defaultAutoComplete($event)"
                            (onFocusOut)="getPosition($event)">
                            <div *dxTemplate="let item of 'item'">
                                <span class="autocomplete" title="{{item}}"> {{item}} </span>
                            </div>
                        </dx-autocomplete>
                        
                    </span>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="addCondition(secondaryCtrl, 3)"
                        [disabled]="secondaryCtrl.freeTextCondition.length > 4">
                        <i class="fal fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.add' | translate}}</span>
                    </button>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="delCondition(secondaryCtrl, 3)"
                        [disabled]="secondaryCtrl.freeTextCondition.length === 1">
                        <i class="fal fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                    </button>               
                </div>
            </div> 
            <div class="form-group row" style="padding-top: 13px; padding-bottom: 13px;">
                <label for="path-4" class="col-sm-2 col-form-label">
                    {{'renewal2017.pathology.plrtLdat' | translate}}
                </label>
                <div class="col-sm-10" *ngIf="reportCtrl.freeText">                    
                    <span *ngFor="let cond of reportCtrl.freeText; let idx = index">
                        <select
                            *ngIf="idx"
                            class="form-control float-left mr-1 custom-select select-condition"
                            title="select condition"
                            formControlName="freeTextCondition-{{idx}}-reportCtrl"
                            [(ngModel)]="reportCtrl.freeTextCondition[idx]">
                            <option value="and" selected>and</option>
                            <option value="or">or</option>
                            <option value="not">not</option>
                        </select>
                        <input
                            type="text"
                            class="form-control input-date-sm float-left mr-1"
                            title="Free Text"
                            id="freeText-{{idx}}-reportCtrl"
                            formControlName="freeText-{{idx}}-reportCtrl"
                            style="width:165px;"
                            [ngModel]="reportCtrl.freeText[idx]"
                            (focus)="getInputPostition($event)">
                    </span>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="addCondition(reportCtrl, 4)"
                        [disabled]="reportCtrl.freeTextCondition.length > 4">
                        <i class="fal fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.add' | translate}}</span>
                    </button>
                    <button type="button"
                        class="btn btn-md btn-secondary"
                        (click)="delCondition(reportCtrl, 4)"
                        [disabled]="reportCtrl.freeTextCondition.length === 1">
                        <i class="fal fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">{{'research.delete' | translate}}</span>
                    </button>               
                </div>
            </div>                          
        </div>
    </form>
    <!-- <path-search></path-search> -->
    <!-- <path-slip-search></path-slip-search> -->
</div>

