<vertical-split-pane
    class="vertical-split-grid"
    primary-component-minsize="80"
    secondary-component-minsize="80"
    primary-component-initialratio="0.5"
    separator-thickness="1">
    <div class="split-pane-content-primary">
        <div class="left">
            <data-list></data-list>
        </div>
    </div>
    <div class="split-pane-content-secondary" style="height:100%">
        <div class="right" style="height:100%">
            <data-properties></data-properties>
        </div>
    </div>
</vertical-split-pane>
