<div class="tab-inner-area">
	<form [formGroup]="nursAssmViewForm">
        <div class="col-sm-12 form-line">
            <!-- 기록작성일 -->
            <div class="form-group row">
                <label for="nursAssm-2" class="col-sm-2 col-form-label">
                    {{'renewal2017.nurs.common.date' |  translate}}
                </label>
                <div class="col-sm-5">
                    <!-- <dashboard-datepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</dashboard-datepicker> -->
					<daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
				</div>
                <label for="nursState-2" class="col-sm-2 col-form-label label-border">
						{{'renewal2017.nurs.dept.title' |  translate}}
				</label>				
				<div class="col-sm-4">
					<div class="select-sm">
						<ss-multiselect-dropdown 
							*ngIf="myOptions.length"
							[options]="myOptions" 
							[texts]="myTexts"
							[settings]="mySettings"
							formControlName="dept1"
							[(ngModel)]="nursAssmData.dept1"
							(ngModelChange)="onChange($event)"
							class="input-date-range">
						</ss-multiselect-dropdown>
					</div>
				</div>				                			              
			</div>
			<!-- 환자평가(욕창/낙상) -->
			<div class="form-group row">
                <label class="col-sm-2 col-form-label assm-label">
                    {{'renewal2017.nurs.assessment.pt.title-2' |  translate}}
				</label>
			</div>
			<!-- 욕창위험도평가 -->
			<div class="form-group row no-border">
                <label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
                    {{'renewal2017.nurs.assessment.bdsr' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="bdsrFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="bdsrFrom"
						[(ngModel)]="nursAssmData.bdsrFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="bdsrTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="bdsrTo"
						[(ngModel)]="nursAssmData.bdsrTo">
					<button
						[disabled]="!(nursAssmData.bdsrFrom || nursAssmData.bdsrTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('bdsr')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="bdsrOption" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="bdsrCtg"
						[(ngModel)]="nursAssmData.bdsrCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 낙상위험도평가 -->
			<div class="form-group row">
                <label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
                    {{'renewal2017.nurs.assessment.iffl' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="ifflFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="ifflFrom"
						[(ngModel)]="nursAssmData.ifflFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="ifflTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="ifflTo"
						[(ngModel)]="nursAssmData.ifflTo">
					<button
						[disabled]="!(nursAssmData.ifflFrom || nursAssmData.ifflTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('iffl')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="ifflOption" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="ifflCtg"
						[(ngModel)]="nursAssmData.ifflCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 중증도위험평가 -->
			<div class="form-group row">
                <label class="col-sm-2 col-form-label assm-label">
                    {{'renewal2017.nurs.assessment.pt.title' |  translate}}
				</label>
			</div>
			<!-- 일반병동 (KSCS1) -->
			<div class="form-group row no-border">
				<label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
					{{'renewal2017.nurs.assessment.pt.cmm' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="cmmFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="cmmFrom"
						[(ngModel)]="nursAssmData.cmmFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="cmmTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="cmmTo"
						[(ngModel)]="nursAssmData.cmmTo">
					<button
						[disabled]="!(nursAssmData.cmmFrom || nursAssmData.cmmTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('cmm')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt4Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="cmmCtg"
						[(ngModel)]="nursAssmData.cmmCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 중환자 (KSCSC) -->
			<div class="form-group row no-border">
				<label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
					{{'renewal2017.nurs.assessment.pt.apc' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="apcFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="apcFrom"
						[(ngModel)]="nursAssmData.apcFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="apcTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="apcTo"
						[(ngModel)]="nursAssmData.apcTo">
					<button
						[disabled]="!(nursAssmData.apcFrom || nursAssmData.apcTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('apc')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt4Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="apcCtg"
						[(ngModel)]="nursAssmData.apcCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 정신과 -->
			<div class="form-group row no-border">
				<label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
					{{'renewal2017.nurs.assessment.pt.mt' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="mtFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="mtFrom"
						[(ngModel)]="nursAssmData.mtFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="mtTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="mtTo"
						[(ngModel)]="nursAssmData.mtTo">
					<button
						[disabled]="!(nursAssmData.mtFrom || nursAssmData.mtTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('mt')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt5Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="mtCtg"
						[(ngModel)]="nursAssmData.mtCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 신생아중환자 -->
			<div class="form-group row no-border">
				<label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
					{{'renewal2017.nurs.assessment.pt.chld' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="chldFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="chldFrom"
						[(ngModel)]="nursAssmData.chldFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="chldTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="chldTo"
						[(ngModel)]="nursAssmData.chldTo">
					<button
						[disabled]="!(nursAssmData.chldFrom || nursAssmData.chldTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('chld')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt4Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="chldCtg"
						[(ngModel)]="nursAssmData.chldCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 일반병동 (구) -->
			<div class="form-group row no-border">
                <label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
                    {{'renewal2017.nurs.assessment.pt.cmm-old' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="cmmOldFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="cmmOldFrom"
						[(ngModel)]="nursAssmData.cmmOldFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="cmmOldTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="cmmOldTo"
						[(ngModel)]="nursAssmData.cmmOldTo">
					<button
						[disabled]="!(nursAssmData.cmmOldFrom || nursAssmData.cmmOldTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('cmmOld')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt5Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="cmmOldCtg"
						[(ngModel)]="nursAssmData.cmmOldCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
			<!-- 중환자 (구) -->
			<div class="form-group row">
				<label class="col-sm-2 col-form-label assm-label">
					<i class="fal fa-minus mr-2" aria-hidden="true"></i>
					{{'renewal2017.nurs.assessment.pt.apc-old' |  translate}}
				</label>
				<div class="col-sm-9">
					<input
						class="form-control number-input mr-1 float-left"
						id="apcOldFrom"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} From"
						formControlName="apcOldFrom"
						[(ngModel)]="nursAssmData.apcOldFrom">
					<input
						class="form-control number-input mr-1 float-left"
						id="apcOldTo"
						placeholder="{{'renewal2017.nurs.assessment.common.total' |  translate}} To"
						formControlName="apcOldTo"
						[(ngModel)]="nursAssmData.apcOldTo">
					<button
						[disabled]="!(nursAssmData.apcOldFrom || nursAssmData.apcOldTo)"
						type="button"
						class="btn btn-danger btn-md mr-3"
						style="width: 40px;"
						(click)="deleteScore('apcOld')">
						<i class="fal fa-trash-alt" aria-hidden="true"></i>
					</button>
					<ss-multiselect-dropdown 
						[options]="pt6Option" 
						[texts]="ctgTexts"
						[settings]="ctgSettings"
						formControlName="apcOldCtg"
						[(ngModel)]="nursAssmData.apcOldCtg"
						(ngModelChange)="onChange($event)"
						class="input-date-range">
					</ss-multiselect-dropdown>
				</div>
			</div>
		</div>
	</form>
</div>