<div class="modal-header">
    <h3 class="modal-title">{{'renewal2017.nav-upload-patient.title' | translate}}</h3>
        <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-text-area">
      <form id="frm" #frm>
        <div class="modal-icon">
            <i class="fal fa-info-circle fa-3x" aria-hidden="true"></i>
        </div>
        <div class="modal-text">
            <span>{{'renewal2017.nav-upload-patient.alert-1' | translate}}</span>
            <br/>
            <span>{{'renewal2017.nav-upload-patient.alert-2' | translate}}</span>
            <br/>
            <br/>
            <span>{{'renewal2017.nav-upload-patient.warning-1' | translate}}</span>
            <br/>
            <span>{{'renewal2017.nav-upload-patient.warning-2' | translate}}</span>
        </div>
        <br/>
        <div style="margin-left: 70px;">
            <dx-file-uploader
                #fileUploader
                uploadUrl="{{uploadUrl}}"
                [multiple]="false"
                accept=".xls,.xlsx"
                uploadMode="useButtons"
                (onUploaded)="getStatus($event)"
                labelText="{{'renewal2017.nav-upload-patient.drop-file' | translate}}"
                readyToUploadMessage="{{'renewal2017.nav-upload-patient.ready-to-upload' | translate}}"
                selectButtonText="{{'cohort.mart.select-file' | translate}}"
                uploadButtonText="{{'renewal2017.nav-upload-patient.upload' | translate}}"
                uploadedMessage="{{'renewal2017.nav-upload-patient.uploaded' | translate}}"
                uploadFailedMessage="{{'renewal2017.nav-upload-patient.failed' | translate}}">
            </dx-file-uploader>
        </div>
      </form>
    </div>
</div>
<div class="modal-footer text-right">
    <!--button
        type="button"
        class="btn btn-md btn-info btn-rounded"
        (click)="activeModal.close(uploadPatientsResponse)"
        [disabled]="!isUploaded">
        {{'common.ok' | translate}}
    </button//-->
    <button
        type="button"
        class="btn btn-md btn-light btn-rounded"
        (click)="activeModal.close('no')">
        {{'renewal2017.button.cancel' | translate}}
    </button>
</div>
