<div class="tab-inner-area">
  
    <form [formGroup]="formForm">
        <div class="col-sm-12 form-line">
            <!-- 기록일 -->
			<div class="form-group row">
                <label for="form-2" class="col-sm-2 col-form-label">
                    {{'renewal2017.recordData' |  translate}}
                </label>
                <div class="col-sm-5">
                    <!-- <dashboard-datepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
                    </dashboard-datepicker>                    -->
                    <daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
                </div>             

                <div class="col-sm-3 label-border">
                    <div class="form-check form-check-inline mb-0">
                        <label class="custom-control custom-checkbox">
                            <input
                                class="custom-control-input"
                                type="checkbox"
                                value="Y"
                                formControlName="yn"
                                [(ngModel)]="formData.yn"
                                [checked]="formData.yn === 'Y'">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                {{'research.sign.yn' | translate}}
                            </span>
                        </label>                      
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ngb-tabset class="table-list" [destroyOnHide]="true" #tab="ngbTabset">
        <!-- 서식 검색 -->
		<ngb-tab id="tab-form">
			<ng-template ngbTabTitle>
				{{'research.form.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<form-basic-search #formBasic></form-basic-search>
			</ng-template>
		</ngb-tab>
		<!-- 서식 세부검색 -->
		<ngb-tab [disabled]="isFormBasic" id="tab-form-detail">
			<ng-template ngbTabTitle>
				{{'research.form.detail.0' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<form-detail-search></form-detail-search>
			</ng-template>
		</ngb-tab>   
    </ngb-tabset>
</div>

    