<div class="dx-viewport demo-container" id="datagrid" style="margin-left: 30px;margin-right: 30px;margin-top:40px;height: 100%;">
  <div class="row dx-datagrid-title" style="margin-top:16px;">
    <h3 style="margin-bottom: 20px;margin-left: 14px;">{{martName}}</h3>
    <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
  </div>
  <ngb-tabset class="table-list" #tabs [destroyOnHide]="false" style="height:100%;">
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle>
        마트
      </ng-template>
      <ng-template ngbTabContent>
        <mart></mart>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2">
      <ng-template ngbTabTitle>
        Owner
      </ng-template>
      <ng-template ngbTabContent>
        <mart-owner></mart-owner>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab3">
      <ng-template ngbTabTitle>
        테이블
      </ng-template>
      <ng-template ngbTabContent>
        <mart-table></mart-table>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab4">
      <ng-template ngbTabTitle>
        원본 데이터
      </ng-template>
      <ng-template ngbTabContent>
        <mart-source-data></mart-source-data>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab5">
      <ng-template ngbTabTitle>
        칼럼
      </ng-template>
      <ng-template ngbTabContent style="height:100%;">
        <mart-column></mart-column>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
