.dx-datagrid-header-panel .dx-toolbar {
  height: 34px;
}

.cell-selected {
  background-color: lightgreen;
}

.dx-datagrid {
  user-select: none;
  -webkit-user-select: none;
}

.highlightText {
  background: yellow;
}

/deep/ .dx-toolbar-item-content .dx-texteditor {
  width: 110px !important;
  min-width: 110px;
}
