<div class="container-fluid cohort" style="top:0px;padding-right: 0px;padding-left: 0px;">
  <vertical-split-pane
  class="vertical-split-grid no-margin"
  secondary-component-minsize="300"
  separator-thickness="1"
  primary-component-initialratio="0.7">
  <div class="split-pane-content-primary">
    <div class="left">
      <div class="dx-viewport demo-container" id="datagrid" style="margin-left: 30px;margin-right: 30px;height:100%">
        <div class="row dx-datagrid-title" style="margin-top:16px;left:10px;">
          <h4>{{tblCnte}}({{tblNm}})</h4>
          <!--span class="input-material headline col-12" style="height: 10px;margin-bottom: 10px;"></span//-->
        </div>
          <dx-data-grid
            id="tableData"
            [dataSource]="dataSource"
            [columnResizingMode]="'nextColumn'"
            [allowColumnResizing]="true"
            (onContentReady)="onContentReady($event)"
            (onToolbarPreparing)="onToolbarPreparing($event)"
            (onCellClick)="onCellClick($event)"
            [columnAutoWidth]="true"
          >
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-remote-operations
              [sorting]="true"
              [paging]="true">
            </dxo-remote-operations>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-scrolling mode="infinite"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="100"></dxo-paging>
            <div *dxTemplate="let data of 'totalCount'">
                <span class="count">( Total : {{sizePerSizeStr}} / {{totalStr}} )</span>
            </div>
            <div *dxTemplate="let data of 'txt'">
                <span> ~ </span>
            </div>
          </dx-data-grid>
          <dx-load-panel
            #loadPanel
            shadingColor="rgba(255,255,255,0)"
            [position]="{ of: '#tableData' }"
            [(visible)]="loading"
            [showIndicator]="true"
            [showPane]="true"
            [shading]="true"
            [closeOnOutsideClick]="false">
          </dx-load-panel>
      </div>
    </div>
  </div>
  <div class="split-pane-content-secondary">
    <div class="right">
      <h2 class="header-property">
        Properties
      </h2>
      <!--div class="form-group row border-bottom" style="margin-right: 0px;margin-left: 0px;">
        <label class="col-2 col-form-label" for="column">
          Column
        </label>
        <div class="col-10 label-border">
          <select
            id="column"
            class="form-control custom-select"
            [(ngModel)]="resultColumn">
            <option *ngFor="let state of resultColumns" [ngValue]="state.value">
              {{state.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row border-bottom" style="margin-right: 0px;margin-left: 0px;">
        <label class="col-2 col-form-label" for="srouceColumn">
          Source Column
        </label>
        <div class="col-10 label-border">
          <select
            id="srouceColumn"
            class="form-control custom-select"
            [(ngModel)]="srouceColumn">
            <option *ngFor="let sc of srouceColumns" [ngValue]="sc.value">
              {{sc.name}}
            </option>
          </select>
        </div>
      </div//-->
      <div class="form-group row border-bottom" style="margin-right: 0px;margin-left: 0px;">
        <label class="col-2 col-form-label">
          Cat.
        </label>
        <div class="col-5  label-border" style="padding-right: 4px;">
          <select
            class="form-control custom-select"
            #regexpCategorySelect (change)="changeRegexpCategory($event.target.value)">
            <option *ngFor="let state of regexpCategory" [value]="state.CTG_CD">
              {{state.CTG_NM}}
            </option>
          </select>
        </div>
        <div class="col-5" style="padding-left: 4px;">
          <select
            class="form-control custom-select"
            #regexpsSelect (change)="changeRegexp($event.target.value)">
            <option *ngFor="let state of regexps" [value]="state.RGEP_CD">
              {{state.RGEP_NM}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row border-bottom" style="margin-right: 0px;margin-left: 0px;">
        <label class="col-2 col-form-label">
          정규식
        </label>
        <div class="col-10 label-border">
          <!--input
            class="form-control"
            [(ngModel)]="regex"
            (ngModelChange)="regexChenge($event)">
        </div//-->
          <div class="col-12" style="min-height:200px;display:block;border:1px;" contenteditable="true" id="regex" (input)="regexChanged()">

          </div>
        </div>
        </div>
      <!--div class="form-group row border-bottom" style="margin: 20px 0px 20px 0px;">
        <div class="col-12">
          <textarea class="form-control" rows="10" style="min-height:300px;padding-top: 0.75rem;">{{sourceText}}</textarea>
        </div>
      </div//-->
      <div class="form-group row border-bottom" style="margin: 20px 0px 20px 0px;">
        <div class="col-12" style="min-height:200px;display:block;" id="textWorkArea"></div>
      </div>
      <div class="form-group row border-bottom" style="margin: 20px 0px 20px 0px;">
        <div class="col-12" style="min-height:200px;display:block;" id="resultArea"></div>
      </div>
    </div>
  </div>
</vertical-split-pane>
</div>
