<div class="tab-inner-area">
    <dx-data-grid 
        id="login-log"
        class="gridContainer"
        [dataSource]="dataSource"
        [columnResizingMode]="'nextColumn'" 
        [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        [height]="735">
        <dxo-filter-row 
            [visible]="true"></dxo-filter-row>
        <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
        <dxi-column dataField="exctTime" caption="실행일시" [width]="150" cssClass="text-center"></dxi-column>
        <dxi-column dataField="loginIp" caption="접속 IP" [width]="150" cssClass="text-center"></dxi-column>
        <dxi-column dataField="stfNo" caption="사번" [width]="80" cssClass="text-center"></dxi-column>
        <dxi-column dataField="deptNm" caption="부서" [width]="120" cssClass="text-center"></dxi-column>
        <dxi-column dataField="stfNm" caption="이름" [width]="80" cssClass="text-center"></dxi-column>
        <dxi-column dataField="mod" caption="모드" [width]="80" cssClass="text-center"></dxi-column>
        <dxi-column dataField="irbYn" caption="IRB 적용" [width]="100" cssClass="text-center"></dxi-column>
        <dxi-column dataField="excelYn" caption="엑셀 저장" [width]="100" cssClass="text-center"></dxi-column>
        <dxi-column dataField="ctgNm" caption="실행영역" [width]="100" cssClass="text-center"></dxi-column>
        <dxi-column dataField="exctSql" caption="SQL"></dxi-column>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="single"></dxo-sorting>   
    </dx-data-grid>
    <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        [position]="{ of: '#login-log' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
    </dx-load-panel>
</div>