a.sidebar-list-link i {
  margin-right: 0px;
}
a.sidebar-list-link {
  height:39px;
  line-height: 39px;
}

/deep/ a.sidebar-list-link.active {
  background-color: #148ecf;
}

.left-component {
  max-width: 50%;
  min-width: 15%;
}

a.sidebar-list-link.active{
  background-color: #148ecf;
}

/deep/ .powermode-sidebar .card-header.active a {
  background-color: transparent;
  color: #ffffff;
}

/deep/ .powermode-sidebar .card-body.show {
  padding-right: 0px;
}


