<div class="item-manager">
    <dx-data-grid 
        id="category-manager-editable"
        class="gridContainer-powermode-result"
        [dataSource]="dataSource"
        [columnResizingMode]="'nextColumn'" 
        [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        [height]="665">
        <dxo-editing
            mode="cell"
            [allowUpdating]="true">
        </dxo-editing>
        <dxi-column dataField="setSeq" caption="순번" [width]="50" cssClass="text-center"></dxi-column>
        <dxi-column dataField="ctgCd" caption="카테코리코드"></dxi-column>
        <dxi-column dataField="itemNm" caption="항목명"></dxi-column>
        <dxi-column dataField="itemEngNm" caption="항목명(영문)"></dxi-column>
        <dxi-column dataField="itemColNm" caption="항목필드명"></dxi-column>
        <dxi-column dataField="itemCd" caption="항목코드"></dxi-column>
        <dxi-column dataField="ltUseYn" caption="룩업사용여부">
            <dxo-lookup
                [dataSource]="ynLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="filterType" caption="필터타입">
            <dxo-lookup
                [dataSource]="filterLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="useType" caption="사용여부">
            <dxo-lookup
                [dataSource]="typeLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="ltTabNm" caption="룩업테이블 Mapping Code"></dxi-column>
        <dxi-column dataField="remark" caption="코드 입력"></dxi-column>
        <dxi-column dataField="filterItemColNm" caption="Output Items 조건절 컬럼명"></dxi-column>
        <dxi-column dataField="useItemColCd" caption="파워모드 조건절 컬럼명"></dxi-column>
        <dxi-column dataField="type" caption="데이터타입">
            <dxo-lookup
                [dataSource]="dataLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="cellSize" caption="엑셀 셀 크기"></dxi-column>
        <dxi-column dataField="useYnType" caption="'사용'컬럼 표시여부">
            <dxo-lookup
                [dataSource]="ynLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="mskColNm" caption="마스킹컬럼명"></dxi-column>
        <dxi-column dataField="mskYn" caption="마스킹사용여부">
            <dxo-lookup
                [dataSource]="ynLookup"
                valueExpr="ID"
                displayExpr="Name"> 
            </dxo-lookup>
        </dxi-column>


        <div *dxTemplate="let data of 'filterBox'">
            <div id="left" class="float-left mb-1" *ngIf="filterSource && filterSource.length > 0">
                <dx-select-box
                    class="filter-box"
                    [items]="filterSource" 
                    [value]="filterSource[0]"
                    (onValueChanged)="selectFilter($event)">
                </dx-select-box>
            </div>
        </div>
        <div *dxTemplate="let data of 'buttonBox'">
            <div id="left" class="float-right mb-1" *ngIf="filterSource && filterSource.length > 0">
                <button
                    class="btn btn-md btn-light"
                    (click)="addData()"
                    [disabled]="!addible">
                    <i class="fal fa-plus"></i>
                </button>
                <button
                    class="btn btn-md btn-light"
                    (click)="saveData()">
                    <i class="fal fa-save"></i>
                </button>
            </div>
        </div>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="single"></dxo-sorting>
    </dx-data-grid>
    <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        class="mb-5"
        [position]="{ of: '#category-manager-editable' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
    </dx-load-panel>
    <dx-popup
        class="popup"
        [width]="640"
        [height]="445"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        [(visible)]="popupVisible">
        <div *dxTemplate="let data of 'content'">
            <div class="col-sm-12">
                <dx-data-grid
                    #popupGrid
                    id="item-manager-popup"
                    class="gridContainer-powermode-result"
                    [dataSource]="popupSource"
                    [columnResizingMode]="'nextColumn'" 
                    [allowColumnResizing]="true"
                    (onContentReady)="onContentReady($event)"
                    (onSelectionChanged)="onSelectionChanged($event)"
                    (onRowClick)="onRowClick($event)"
                    [height]="390">
                    <dxo-filter-row 
                        [visible]="true">
                    </dxo-filter-row>
                    <dxo-header-filter 
                        [visible]="true">
                    </dxo-header-filter>
                    <dxo-selection mode="single"></dxo-selection>

                    <dxi-column *ngIf="mode === 'itemColNm' || mode === 'filterItemColNm' || mode === 'useItemColCd'" dataField="tableName" caption="테이블명"></dxi-column>
                    <dxi-column *ngIf="mode === 'itemColNm' || mode === 'filterItemColNm' || mode === 'useItemColCd'" dataField="columnName" caption="컬럼명"></dxi-column>
                    <dxi-column *ngIf="mode === 'itemColNm' || mode === 'filterItemColNm' || mode === 'useItemColCd'" dataField="itemCd" caption="코드명"></dxi-column>
                    <dxi-column *ngIf="mode === 'itemColNm' || mode === 'filterItemColNm' || mode === 'useItemColCd'" dataField="dataType" caption="데이터타입"></dxi-column>
                    <dxi-column *ngIf="mode === 'itemColNm' || mode === 'filterItemColNm' || mode === 'useItemColCd'" dataField="comments" caption="설명"></dxi-column>

                    <dxi-column *ngIf="mode === 'type' || mode === 'ltTabNm'" dataField="code" caption="코드"></dxi-column>
                    <dxi-column *ngIf="mode === 'type' || mode === 'ltTabNm'" dataField="text" caption="설명"></dxi-column>

                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-sorting mode="single"></dxo-sorting>
                </dx-data-grid>
                <dx-load-panel
                    #loadPanel
                    shadingColor="rgba(255,255,255,0)"
                    class="mb-5"
                    [position]="{ of: '#item-manager-popup' }"
                    [(visible)]="popupLoading"
                    [showIndicator]="true"
                    [showPane]="true"
                    [shading]="true"
                    [closeOnOutsideClick]="false">
                </dx-load-panel>
            </div>
            <div class="col-sm-12">
                <dx-data-grid
                    *ngIf="showDetail"
                    id="lookup-detail-popup"
                    class="gridContainer-powermode-result"
                    [dataSource]="detailSource"
                    [columnResizingMode]="'nextColumn'" 
                    [allowColumnResizing]="true"
                    [height]="195">
                    <dxi-column *ngIf="mode === 'ltTabNm'" dataField="code" caption="코드"></dxi-column>
                    <dxi-column *ngIf="mode === 'ltTabNm'" dataField="text" caption="설명"></dxi-column>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-sorting mode="single"></dxo-sorting>
                </dx-data-grid>
            </div>
        </div>
    </dx-popup>
</div>

