<div class="btn-close-side">
    <button type="button" class="btn btn-dark btn-close-side" (click)="newCohort()">
        <i class="fal fa-plus" aria-hidden="true"></i>
        <span class="sr-only">Plus</span>
    </button>
</div>
<ul class="nav nav-sidebar flex-column">
  <!-- Home -->
  <li class="sidebar-list-item" style="height:40px;" *ngFor="let cohort of allCohorts; let idx = index;">
    <a class="sidebar-list-link" routerLinkActive="active" (click)="openMart(idx)" [class.active]="cohort.done" >
      <i class="fal fa-database" aria-hidden="true"
         ngbTooltip="Home"
         container="body"
         placement="right"></i>
      <span>{{cohort.CHT_NM}}</span>
    </a>
  </li>
</ul>

<!--ngb-accordion
  *ngIf="allCohorts"
  #acc="ngbAccordion"
  class="nav nav-sidebar powermode-sidebar flex-column"
  [destroyOnHide]="true">
  <ngb-panel
    *ngFor="let cohort of allCohorts; let idx = index"
    id="toggle-{{cohort.CHT_ID}}"
    class="powermode-list-item collapse">
    <ng-template ngbPanelTitle>
      <span (click)="openMart(idx)">
        <i class="fal fa-caret-right" aria-hidden="true"></i>
        <span>{{cohort.CHT_NM}}</span>
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ul class="draggable-item-list">
        <li
          *ngFor="let tbl of tbls | viewfilter:cohort.CHT_ID"
          [attr.data-cht-no]="cohort.CHT_ID"
          [attr.data-cht-nm]="cohort.CHT_NM"
          [attr.data-tbl-id]="tbl.TBL_ID"
          [attr.data-tbl-nm]="tbl.PRO_NM"
          class="powermode-sublist-item text-truncate" (click)="openTable(tbl.TBL_ID)" routerLinkActive="active">
          {{tbl.PRO_NM}}
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion//-->
