<div class="power-props-inner">
    <h2 class="h6">{{propsTitle}}</h2>
    <form [formGroup]="rangeForm">
        <input
            type="number"
            class="form-control number-input mr-1 float-left"
            min="0"
            title="{{'research.vdr.period.start' |  translate}}"
            placeholder="From"
            formControlName="fromDt"
            [(ngModel)]="dataSource.fromDt"> 
        <input
            type="number"
            class="form-control number-input"
            min="0"
            title="{{'research.vdr.period.end' |  translate}}"
            placeholder="To"
            formControlName="toDt"
            [(ngModel)]="dataSource.toDt">
    </form>
</div>