<div class="power-props-inner">
    <h2 class="h6">{{propsTitle}}</h2>
    <form [formGroup]="pnForm">
		<div class="form-group">
			<div>
				<div class="form-check form-check-inline">
					<!-- <label class="custom-control custom-radio">
						<input
							class="custom-control-input"
							type="radio"
							value="e"
							formControlName="pn"
							[(ngModel)]="pnCtrl.pn">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">
							{{'research.except' | translate}}
						</span>
					</label> -->
					<label class="custom-control custom-checkbox">
						<input
							class="custom-control-input"
							type="checkbox"
							formControlName="all"
							[(ngModel)]="pnCtrl.a">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">
							±
						</span>
					</label>
					<label class="custom-control custom-checkbox">
						<input
							class="custom-control-input"
							type="checkbox"
							formControlName="positivity"
							[(ngModel)]="pnCtrl.p">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">
							+
						</span>
					</label>
					<label class="custom-control custom-checkbox">
						<input
							class="custom-control-input"
							type="checkbox"
							formControlName="negativity"
							[(ngModel)]="pnCtrl.n">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">
							-
						</span>
					</label>
				</div>
			</div>			
		</div>		
	</form>
</div>