<div class="power-props-inner">
    <header class="flex-header">
        <h3 class="title-grid-sub mb-3 float-left">
            {{'renewal2017.selectResult' | translate}}
        </h3>
        <button type="button" 
            class="btn btn-light btn-xs float-right" 
            (click)="deleteClient($event)">
            {{'research.all.delete' | translate}}
        </button>
    </header>
    
    <div class="card client-grid">
        <div class="card-header">
            <div class="floating-btn-group">
                <!-- <div class="btn-group mr-4" role="group" aria-label="Basic example">
                    <button type="button"
                        class="btn btn-xs"
                        [ngClass]="{'btn-info': condition === 'and', 'btn-light': condition === 'not'}"
                        (click)="activeBtn($event, 'and')"
                        [disabled]="!dataSource.length">
                        {{'renewal2017.inclusion' | translate}}
                    </button>
                    <button type="button"
                        class="btn btn-xs btn-light"
                        [ngClass]="{'btn-info': condition === 'not', 'btn-light': condition === 'and'}"
                        (click)="activeBtn($event, 'not')"
                        [disabled]="!dataSource.length">
                        {{'renewal2017.exclusion' | translate}}
                    </button>
                </div> -->
                <small *ngIf="dataSource">{{dataSource.length ? dataSource.length : '0'}} {{'renewal2017.selectEa' | translate}}</small>
            </div>
        </div>
        <div class="card-body">
            <dx-data-grid
                class="gridSelect"
                [dataSource]="dataSource"
                (onContentReady)="onContentReady($event)">
                \<dxi-column dataField="USEYN" caption="{{'renewal2017.label.useYn' | translate}}" [width]="60" *ngIf="useYn"></dxi-column>
                <dxi-column dataField="CODE" caption="Code" [width]="100" *ngIf="hiddenMode"></dxi-column>
		        <dxi-column dataField="TEXT" caption="{{propsTitle}}"></dxi-column>
                <dxi-column  
                    [width]="50"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    cellTemplate="cellTemplate">
                </dxi-column>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="single"></dxo-sorting>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <button type="button" class="btn btn-text-type" title="close" (click)="onDeleteRow(data)">
                        <i class="fal fa-times-circle" aria-hidden="true"></i>
                        <span class="sr-only">close</span>
                    </button>
                </div>
            </dx-data-grid>
            <div class="guide-curton powermode" *ngIf="!dataSource.length && isLoadtable">
                <div class="bg"></div>
                <p class="text">
                    <i class="fal fa-check text-primary"></i>
                    <i class="fal fa-mouse-pointer"></i>
                    <span>{{'renewal2017.p.notice-add-data' | translate}}</span>
                </p>  
            </div>
        </div> 
    </div> 
</div>