<div class="power-props-inner">
    <h2 class="h6">{{propsTitle}}</h2>
    <form [formGroup]="ynForm">
        <div class="form-radio">
            <label class="custom-control custom-radio">
                <input
                    class="custom-control-input"
                    type="radio"
                    value="Y"
                    formControlName="isRadio"
                    [(ngModel)]="dataSource.isRadio">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    {{'renewal2017.label.yes' | translate}}
                </span>
            </label>
            <label class="custom-control custom-radio">
                <input
                    class="custom-control-input"
                    type="radio"
                    value="N"
                    formControlName="isRadio"
                    [(ngModel)]="dataSource.isRadio">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    {{'renewal2017.label.no' | translate}}
                </span>
            </label>
        </div>
    </form>
</div>