<div class="power-props-inner">
	<h2 class="h6">{{propsTitle}}</h2>
	<dx-data-grid
		class="power-props-tbl"
		[dataSource]="dataSource"
		[columnResizingMode]="'nextColumn'"
		[allowColumnResizing]="true"
		[(selectedRowKeys)]="selectedRowKeys"
		(onContentReady)="onContentReady($event)"
		(onSelectionChanged)="onSelectionChanged($event)"
		(onRowClick)="onRowClick($event)"
		(onToolbarPreparing)="onToolbarPreparing($event)">
		<dxo-filter-row
			[visible]="true"></dxo-filter-row>
		<dxo-header-filter
			[visible]="true"></dxo-header-filter>
		<dxo-search-panel
			[visible]="true"
			[width]="240"
			placeholder="Search..."></dxo-search-panel>
		<dxi-column dataField="USEYN" caption="{{'renewal2017.label.useYn' | translate}}" [width]="60" *ngIf="useYn"></dxi-column>
		<dxi-column dataField="CODE" caption="Code" [width]="100" *ngIf="hiddenMode"></dxi-column>
		<dxi-column dataField="TEXT" caption="{{propsTitle}}"></dxi-column>
		<dxo-scrolling mode="virtual"></dxo-scrolling>
		<dxo-selection
			mode="multiple"
			[selectAllMode]="allMode"
			showCheckBoxesMode="onClick">
		</dxo-selection>
		<dxo-sorting mode="single"></dxo-sorting>

		<div *dxTemplate="let data of 'totalCount'">
			<span *ngIf="totalCount">
				<strong>{{resultCount}} / {{totalCount}}</strong>{{'common.cnt' | translate}}
			</span>
		</div>
	</dx-data-grid>
</div>

