<div class="power-props-inner">
    <h2 class="h6">{{propsTitle}}</h2>
    <form [formGroup]="freetextForm">
        <div class="form-froup mb-4">			
			<div>
				<div class="mb-2" *ngFor="let cond of freeTextCtrl.freeTextCondition; let idx = index">
					<select
						[hidden]="!idx"
						id="free-t-1"
						class="form-control float-left mr-1 custom-select select-condition"
						title="select condition"
						formControlName="freeTextCondition-{{idx}}"
						[(ngModel)]="freeTextCtrl.freeTextCondition[idx]">
						<option value="and" selected>and</option>
						<option value="or">or</option>
						<option value="not">not</option>
					</select>
					<input
						type="text"
						class="form-control input-date float-left mr-1"
						[ngClass]="{'input-md-top': !idx}"
						title="Free Text"
						formControlName="freeText-{{idx}}"
						[(ngModel)]="freeTextCtrl.freeText[idx]">
					<button type="button"
						*ngIf="idx === 0"
						class="btn btn-md btn-info"
						(click)="addCondition()"
						[disabled]="freeTextCtrl.freeTextCondition.length > 4">
						<i class="fal fa-plus" aria-hidden="true"></i>
						<span class="sr-only">{{'research.add' | translate}}</span>
					</button>
					<button type="button"
						*ngIf="idx"
						class="btn btn-md btn-secondary"
						(click)="delCondition()"
						[disabled]="freeTextCtrl.freeTextCondition.length === 1">
						<i class="fal fa-minus" aria-hidden="true"></i>
						<span class="sr-only">{{'research.delete' | translate}}</span>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>