<div [ngClass]="{ 'container-fluid': isPowermode }">
    <div class="tab-inner-area">
        <div class="float-right">
            <button
                class="btn btn-xs btn-light"
                (click)="onClose()"
                style="border: none;">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <ngb-tabset class="table-list"
            [destroyOnHide]="true">
            <ngb-tab>
                <ng-template ngbTabTitle>
                    Login Log
                </ng-template>
                <ng-template ngbTabContent>
                    <login-log></login-log>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    IRB Overview
                </ng-template>
                <ng-template ngbTabContent>
                    <irb-overview></irb-overview>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    IRB Approval Log
                </ng-template>
                <ng-template ngbTabContent>
                    <irb-log></irb-log>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    SQL View Log
                </ng-template>
                <ng-template ngbTabContent>
                    <sql-log></sql-log>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                Error View Log
              </ng-template>
              <ng-template ngbTabContent>
                <error-log></error-log>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                Table Manager
              </ng-template>
              <ng-template ngbTabContent>
                <user-table-manager></user-table-manager>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                Work Manager
              </ng-template>
              <ng-template ngbTabContent>
                <work-manager></work-manager>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                  Meta Manager
                </ng-template>
                <ng-template ngbTabContent>
                  <meta-manager></meta-manager>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                  Notice Manager
                </ng-template>
                <ng-template ngbTabContent>
                  <notice-manager></notice-manager>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
