<header class="nav az-navbar fixed-top">
  <h1 class="powermode-ci">
    <!-- <img src="assets/styles/images/ci_invert.png" height="40" alt=""> -->
  </h1>
  <div class="btn-toolbar">
    <div class="btn-col">
      <a routerLink="/tempAuth.do/gate" routerLinkActive="active"
         skipLocationChange
         class="btn btn-text-type btn-invert mr-3">
        <i class="fal fa-home" aria-hidden="true"></i>
        <span>Home</span>
      </a>
      <a routerLink="/tempAuth.do/cohortmart/cohortList" routerLinkActive="active"
         skipLocationChange
         class="btn btn-text-type btn-invert mr-3">
        <i class="fal fa-database" aria-hidden="true"></i>
        <span>Cohort List</span>
      </a>
      <a *ngIf="manageVisible" routerLink="/tempAuth.do/cohortmart/cohortManage" routerLinkActive="active"
         skipLocationChange
         class="btn btn-text-type btn-invert mr-3">
        <i class="fal fa-cogs" aria-hidden="true"></i>
        <span>Cohort Manage</span>
      </a>
      <a *ngIf="parsingVisible" routerLink="/tempAuth.do/cohortmart/cohortParsing" routerLinkActive="active"
         skipLocationChange
         class="btn btn-text-type btn-invert mr-3">
        <i class="fal fa-file-code" aria-hidden="true"></i>
        <span>Cohort Parsing</span>
      </a>
      <a *ngIf="shareVisible" routerLink="/tempAuth.do/cohortmart/cohortShare" routerLinkActive="active"
         skipLocationChange
         class="btn btn-text-type btn-invert mr-3">
        <i class="fal fa-share-alt" aria-hidden="true"></i>
        <span>Cohort Share</span>
      </a>
    </div>
  </div>
  <div class="btn-group-right">
    <setting-window></setting-window>
  </div>
</header>
