<div class="tab-inner-area">
    <form [formGroup]="diagnosisForm">
        <div class="col-sm-12 form-line">
            <!-- 진단 기간 -->
			<div class="form-group row">
                <label for="diagnosis-2" class="col-sm-2 col-form-label">
                    {{'research.diagnosis.day' |  translate}}
                </label>
                <div class="col-sm-7">
                    <!-- <dashboard-datepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
                    </dashboard-datepicker> -->
                    <daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
                </div>
            </div>
        </div>
    </form>
    <ngb-tabset class="table-list"
        [destroyOnHide]="true">
        <ngb-tab>
            <ng-template ngbTabTitle>
                {{'research.diagnosis.search' | translate}}
            </ng-template>
            <ng-template ngbTabContent>
                <diagnosis-search></diagnosis-search>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                {{'research.diagnosis.dept.search' | translate}}
            </ng-template>
            <ng-template ngbTabContent>
                <diag-medical-search></diag-medical-search>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

