<div class="modal-header">
    <h3 class="modal-title">Drop Table Failed</h3>
        <button type="button" class="close" aria-label="Close"
        (click)="_activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-text-area">
        <div class="modal-icon text-danger">
            <i class="fal fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
        </div>
        <div class="modal-text">
            <p>{{'renewal2017.p.failed-drop-table-1' | translate}}<br />
            {{'renewal2017.p.failed-drop-table-2' | translate}}</p>
        </div>
    </div>

</div>
<div class="modal-footer text-right">
    <button
        type="button"
        class="btn btn-md btn-info btn-rounded"
        (click)="_activeModal.close('yes')">
        {{'common.ok' | translate}}
    </button>
    <button
        type="button"
        class="btn btn-md btn-light btn-rounded"
        (click)="_activeModal.close('no')">
        {{'renewal2017.button.cancel' | translate}}
    </button>
</div>
