<div class="tab-inner-area">
  <div class="container-header">

    <div class="float-left">
      <button type="button" class="btn btn-sm btn-secondary mr-1 btn-rounded px-2" (click)="selectAll()">
        <i class="far fa-check"></i>
        Select All
      </button>
    </div>

    <div class="float-right text-right">
      <button type="button" class="btn btn-sm btn-secondary mr-1 btn-rounded px-2" (click)="reset()">
        <i class="fal fa-refresh" aria-hidden="true"></i>
        Reset
      </button>

      <button type="button" *ngIf="curUrl !== 'interim'" class="btn btn-sm btn-info mr-1 btn-rounded px-3" [disabled]="selectedRowCount < 1" (click)="drop()" >
        <i class="fal fa-play" aria-hidden="true"></i>
        Drop Table
      </button>
    </div>
  </div>


    <dx-data-grid
      id="user-table-manager"
      class="gridContainer"
      [dataSource]="dataSource"
      [columnResizingMode]="'nextColumn'"
      [allowColumnResizing]="true"
      (onContentReady)="onContentReady($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onSelectionChanged)="onSelectionChanged($event)"
      [height]="735">
      <dxo-filter-row
        [visible]="true"></dxo-filter-row>
      <dxo-header-filter
        [visible]="true"></dxo-header-filter>
      <dxi-column dataField="stfNo" caption="사번" [width]="70" cssClass="text-center"></dxi-column>
      <dxi-column dataField="stfNm" caption="이름" [width]="90" cssClass="text-center"></dxi-column>
      <dxi-column dataField="medDeptNm" caption="부서" [width]="140" cssClass="text-center"></dxi-column>
      <!-- <dxi-column dataField="userEnableYn" caption="계정사용여부" [width]="120" cssClass="text-center"></dxi-column> -->
      <dxi-column dataField="tableName" caption="사용자 테이블 명" cssClass="text-left"></dxi-column>
      <dxi-column dataField="tableActiveYn" caption="개체사용여부" [width]="120" cssClass="text-center"></dxi-column>
      <dxi-column dataField="created" caption="생성일자" [width]="170" cssClass="text-center"></dxi-column>
      <!--<dxi-column dataField="tableRows" caption="데이터 건수" [width]="100" cssClass="text-center"></dxi-column>-->
      <dxi-column dataField="kbSize" caption="용량(K/B)" [width]="100" cssClass="text-center"></dxi-column>
      <dxo-selection
        mode="multiple"
        [allowSelectAll]="false"
        [selectAllMode]="allMode"
        showCheckBoxesMode="onClick">
      </dxo-selection>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="single"></dxo-sorting>
    </dx-data-grid>
    <dx-load-panel
      #loadPanel
      shadingColor="rgba(255,255,255,0)"
      class="mb-5"
      [position]="{ of: '#user-table-manager' }"
      [(visible)]="loading"
      [showIndicator]="true"
      [showPane]="true"
      [shading]="true"
      [closeOnOutsideClick]="false">
    </dx-load-panel>
</div>



