<vertical-split-pane 
    class="vertical-split-grid"
    primary-component-minsize="80" 
    secondary-component-minsize="80" 
    primary-component-initialratio="0.5"
    separator-thickness="1">
    <div class="split-pane-content-primary">
        <div class="left">
            <medical-server [activeTab]="activeTab"></medical-server>
        </div>
    </div>
    <div class="split-pane-content-secondary">
        <div class="right">
            <div *ngIf="isFilter">
                <medical-filter></medical-filter>
            </div>
            <div *ngIf="!isFilter">
                <medical-client></medical-client>
            </div>            
        </div>
    </div>
</vertical-split-pane>