<div class="tab-inner-area">
    <!-- <div *ngIf="loading" class="blind-curton">
        <div class="load-spinner">
            <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
    </div> -->
    <dx-data-grid 
        id="diagnosis-interim"
        class="gridContainer-interim"
        [dataSource]="dataSource"
        [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        (onRowClick)="onRowClick($event)">        
        <dxi-column dataField="hspTpNm" caption="{{'renewal2017.hospitalName' | translate}}"></dxi-column>
        <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}"></dxi-column>
        <dxi-column dataField="ptNm" caption="{{'research.patient.name' | translate}}"></dxi-column>
        <dxi-column dataField="sexTpCd" caption="{{'research.gender' | translate}}" [width]="80"></dxi-column>
        <dxi-column dataField="ptBrdyDt" caption="{{'research.date.of.birth' | translate}}"></dxi-column>
        <dxi-column dataField="cldgVocId" caption="{{'research.diagnosis.code' | translate}}"></dxi-column>
        <dxi-column dataField="cldgVocNm" caption="{{'research.diagnosis.name' | translate}}"></dxi-column>
        <dxi-column dataField="medDeptCd" caption="{{'research.treatment.dept.code' | translate}}"></dxi-column>
        <dxi-column dataField="icd10cd" caption="{{'research.ICD10.code' | translate}}"></dxi-column>
        <dxi-column dataField="dgnsRegDt" caption="{{'research.diagnosis.day' | translate}}"></dxi-column>

        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-selection mode="{{selection}}"></dxo-selection>
        <dxo-sorting mode="single"></dxo-sorting>   

        <div *dxTemplate="let data of 'totalCount'">            
            <div class="informer">
                {{'research.search.result.0' | translate}}: <strong>{{totalCount}}</strong>{{'common.cnt' | translate}}
            </div>
        </div>
    </dx-data-grid>
    <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        [position]="{ of: '#diagnosis-interim' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
    </dx-load-panel>
</div>
