<div class="tab-inner-area">
    <div *ngIf="loading" class="blind-curton">
        <div class="load-spinner">
            <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
    <dx-data-grid
        id="nursdiag-interim"
        class="gridContainer-interim"
        [dataSource]="dataSource"
        [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        (onRowClick)="onRowClick($event)">
        <dxi-column dataField="hspTpNm" caption="{{'renewal2017.hospitalName' | translate}}"></dxi-column>
        <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}"></dxi-column>
        <dxi-column dataField="ptNm" caption="{{'research.patient.name' | translate}}"></dxi-column>
        <dxi-column dataField="sexTpCd" caption="{{'research.gender' | translate}}" [width]="80"></dxi-column>
        <dxi-column dataField="ptBrdyDt" caption="{{'research.date.of.birth' | translate}}"></dxi-column>
        <dxi-column dataField="dgnsWrtrPlwkDeptNm" caption="{{'renewal2017.nurs.dept.title' | translate}}"></dxi-column>
        <dxi-column dataField="nrplInptDtm" caption="{{'renewal2017.nurs.common.date' | translate}}"></dxi-column>
        <dxi-column dataField="auisNrstNm" caption="{{'renewal2017.nurs.diagnosis.circumstance.title' | translate}}"></dxi-column>
        <dxi-column dataField="dgnsNrstNm" caption="{{'renewal2017.nurs.diagnosis.diagnosis.title' | translate}}"></dxi-column>
        <dxi-column dataField="nrplNrstNm" caption="{{'renewal2017.nurs.diagnosis.plan.title' | translate}}"></dxi-column>
        <!-- <dxi-column dataField="nrplFmtYn" caption="{{'renewal2017.nurs.diagnosis.yn' | translate}}"></dxi-column> -->
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="single"></dxo-sorting>

        <div *dxTemplate="let data of 'totalCount'">
            <div class="informer">
                {{'research.search.result.0' | translate}}: <strong>{{totalCount}}</strong>{{'common.cnt' | translate}}
            </div>
        </div>
    </dx-data-grid>
</div>
