<div class="tab-inner-area">
    <!-- <div *ngIf="loading" class="blind-curton">
        <div class="load-spinner">
            <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
    </div> -->
    <dx-data-grid
        id="nursassm-interim"
        class="gridContainer-interim"
        [dataSource]="dataSource"
        [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)">
        <dxi-column dataField="hspTpNm" caption="{{'renewal2017.hospitalName' | translate}}" [width]="100"></dxi-column>
        <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}"></dxi-column>
        <dxi-column dataField="sexTpCd" caption="{{'research.gender' | translate}}" [width]="80"></dxi-column>
        <dxi-column dataField="ptBrdyDt" caption="{{'research.date.of.birth' | translate}}"></dxi-column>
        <dxi-column dataField="wrtrDeptNm" caption="{{'research.nursing.record.dept.0' | translate}}"></dxi-column>
        <dxi-column dataField="inptDtm" caption="기록작성일"></dxi-column>
        <dxi-column dataField="ctgKnd" caption="간호사정평가분류"></dxi-column>
        <dxi-column dataField="ptCtgCd" caption="위험군"></dxi-column>
        <dxi-column dataField="ttsc" caption="총점"></dxi-column>

        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="single"></dxo-sorting>

        <div *dxTemplate="let data of 'totalCount'">
            <div class="informer">
                {{'research.search.result.0' | translate}}: <strong>{{totalCount}}</strong>{{'common.cnt' | translate}}
            </div>
        </div>
    </dx-data-grid>
    <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        [position]="{ of: '#nursassm-interim' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
    </dx-load-panel>      
</div>
