<div class="container-fluid">
    <div class="float-right">
        <button
            class="btn btn-xs btn-light mr-3 mt-3"
            (click)="onClose()"
            style="border: none;">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div class="bg-gray scenario-list">
        <div class="col-sm-6 main float-left list-query-area">
            <h2 class="h4">
                {{'renewal2017.nav-my-queries' | translate}}
            </h2>
            <perfect-scrollbar class="list-query" [config]="config">
                <ul>
                    <li class="row" *ngFor="let client of myQueries" (click)="openQuery(client.id)">
                        <div class="icon col-1">
                            <i class="fal fa-file" aria-hidden="true"></i>
                        </div>
                        <div class="subject col-7">
                            <a style="cursor: pointer;">{{ client.nm }}</a>
                            <div *ngFor="let idx of client.idxs">
                                <span class="elipsis" title="{{ idx }}">{{ idx }}</span>
                            </div>
                        </div>
                        <dl class="col-2">
                            <dt>{{'renewal2017.p.write-date' | translate}}</dt>
                            <dd>{{ client.dtm }}</dd>
                        </dl>
                        <div class="icon btn-area col-1">
                            <ng-template #shareStfList>
                                <p>{{'renewal2017.p.share-list' | translate}}</p>
                                <div *ngFor="let data of client.sid; let idx = index">
                                    <span *ngIf="idx < 11">{{ data }}</span>
                                </div>
                                <div *ngIf="client.sid && client.sid.length > 10">
                                    ...
                                </div>
                            </ng-template>
                            <button type="button"
                                *ngIf="client.syn === 'Y'"
                                class="btn btn-text-type"
                                [ngbTooltip]="shareStfList"
                                placement="bottom"
                                container="body"
                                (click)="shareList($event, client.sid)">
                                <i class="fal fa-share-alt" aria-hidden="true"></i>
                                <span class="sr-only">{{'renewal2017.p.share-list' | translate}}</span>
                            </button>
                        </div>
                        <div class="icon btn-area col-1">
                            <button type="button" 
                                class="btn btn-text-type" 
                                ngbTooltip="{{'research.delete' | translate}}"
                                placement="left"
                                (click)="deleteQuery($event, client.id, client.nm)">
                                <i class="fal fa-trash-alt" aria-hidden="true"></i>
                                <span class="sr-only">{{'research.delete' | translate}}</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
        <!-- <div class ="col-sm-1 main float-left">
            <div class="col-sm-6 main float-left"></div>
            <div class="col-sm-6 main float-left label-border"></div>
        </div> -->
        <div class="col-sm-6 main float-left label-border list-query-area">
            <h2 class="h4">
                {{'renewal2017.nav-shared-queries.title' | translate}}
            </h2>
            <perfect-scrollbar class="list-query" [config]="config">
                <ul>
                    <li class="row" *ngFor="let client of sharedQueries" (click)="openQuery(client.id)">
                        <div class="icon col-1">
                            <i class="fal fa-file" aria-hidden="true"></i>
                        </div>
                        <div class="subject col-7">
                            <a style="cursor: pointer;">{{ client.nm }}</a>
                            <div *ngFor="let idx of client.idxs">
                                <span class="elipsis" title="{{ idx }}">{{ idx }}</span>
                            </div>
                        </div>
                        <dl class="col-2">
                            <dt>{{'renewal2017.p.writer' | translate}}</dt>
                            <dd>{{ client.stf }}</dd>
                        </dl>                
                        <dl class="col-2">
                            <dt>{{'renewal2017.p.write-date' | translate}}</dt>
                            <dd>{{ client.dtm }}</dd>
                        </dl>                             
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
    </div>
</div>