<div class="tab-inner-area">
        <form [formGroup]="medicineForm">
            <div class="col-sm-12 form-line">
                <!-- 처방일 -->
                <div class="form-group row">
                    <label for="medicine-2" class="col-sm-2 col-form-label">
                        {{'research.day.of.drug.prescription' |  translate}}
                    </label>
                    <div class="col-sm-7">
                        <!-- <dashboard-datepicker
                            (secDate)="selectDate($event)" [secCode]="'datepicker-period'"
                            [storageDate]="storageDate">
                        </dashboard-datepicker>                    -->
                        <daterangepicker
                            (secDate)="selectDate($event)" [secCode]="'datepicker-period'"
                            [storageDate]="storageDate">
                        </daterangepicker>
                    </div>               
                </div>
            </div>
        </form>
        <medicine-search></medicine-search>
    </div>