<dx-data-grid 
    id="nurs-state-eav-server"
    class="gridContainer floor-470"
    [dataSource]="dataSource"
    [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
    (onContentReady)="onContentReady($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowClick)="onRowClick($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)">
    <dxo-filter-row 
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="useYn" caption="{{'renewal2017.nurs.common.useYn' | translate}}" cssClass="text-center" [width]="60"></dxi-column>
        <dxi-column dataField="nrVocEntId" caption="{{'renewal2017.nurs.common.entity.id' | translate}}" [width]="60" cssClass="text-center"></dxi-column>
        <dxi-column dataField="nrVocEntNm" caption="{{'renewal2017.nurs.common.entity.name' | translate}}" [width]="110"></dxi-column>
        <dxi-column dataField="nrVocAtrId" caption="{{'renewal2017.nurs.common.attribute.id' | translate}}" [width]="60" cssClass="text-center"></dxi-column>
        <dxi-column dataField="nrVocAtrNm" caption="{{'renewal2017.nurs.common.attribute.name' | translate}}" [width]="110"></dxi-column>
        <dxi-column dataField="nrstNm" caption="{{'renewal2017.nurs.statement.statement.name' | translate}}"></dxi-column>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection
        mode="multiple"
       [selectAllMode]="allMode"
        showCheckBoxesMode="onClick">
    </dxo-selection>
    <dxo-sorting mode="single"></dxo-sorting>

    <div *dxTemplate="let data of 'totalCount'">
        <h3 class="title-grid-sub">
            {{'research.nursing.care.statement.0' | translate}}
        </h3>
        <div class="informer">
            {{'research.search.result.0' | translate}}: <strong>{{resultCount}} / {{totalCount}}</strong>{{'common.cnt' | translate}}
        </div>
    </div>
</dx-data-grid>
<div *ngIf="loading" class="blind-curton">
    <div class="load-spinner">
        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div>