<vertical-split-pane
    class="vertical-split-grid inner-area"
    primary-component-minsize="80"
    secondary-component-minsize="80"
    primary-component-initialratio="0.5"
    separator-thickness="1">
    <div class="split-pane-content-primary">
        <div class="left">
            <rediation-room-server></rediation-room-server>
        </div>
    </div>
    <div class="split-pane-content-secondary">
        <div class="right">
            <div *ngIf="isFilter">
                <rediation-room-filter></rediation-room-filter>
            </div>
            <div *ngIf="!isFilter">
                <rediation-room-client></rediation-room-client>
            </div>
        </div>
    </div>
</vertical-split-pane>