<h3 class="title-grid-sub mb-5">
    {{'common.filter' | translate}}
</h3>
<ngb-accordion #accDiag="ngbAccordion"
    [closeOthers]="true"
    activeIds="diagnosisPanel"
    class="select-accordian">
<div>
    <ngb-panel id="diagnosisPanel">
        <ng-template ngbPanelTitle>
            <div class="float-left floating-btn-group">
                <small>{{totalCount}} {{'renewal2017.selectEa' | translate}}</small>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-collapse" ngbTooltip="{{'research.all.delete' | translate}}" (click)="onDeleteAll($event)">
                    <i class="fal fa-times" aria-hidden="true"></i>
                    <span class="sr-only">{{'research.all.delete' | translate}}</span>
                </button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <dx-data-grid
                class="gridSelect"
                [dataSource]="dataSource"
                [height]="345"
                (onContentReady)="onContentReady($event)">
                <dxi-column dataField="dgnsVocId" caption="{{'research.own.diagnosis.code' | translate}}" cssClass="text-center" [width]="120"></dxi-column>
                <dxi-column dataField="dgnsNm" caption="{{'research.own.diagnosis.name' | translate}}"></dxi-column>
                <dxi-column dataField="dgnsIcd10Cd" caption="{{'research.ICD10.0' | translate}}" cssClass="text-center" [width]="80"></dxi-column>
                <dxi-column dataField="icd10EngNm" caption="{{'research.ICD10.name' | translate}}"></dxi-column>
                <dxi-column  [width]="50"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    cellTemplate="cellTemplate">
                </dxi-column>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="single"></dxo-sorting>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <button type="button" class="btn btn-text-type" title="close" (click)="onDeleteRow(data)">
                        <i class="fal fa-times-circle" aria-hidden="true"></i>
                        <span class="sr-only">close</span>
                    </button>
                </div>
            </dx-data-grid>
        </ng-template>
    </ngb-panel>
</div>
</ngb-accordion>