<div class="progress-range">
    <i class="fal fa-signal" aria-hidden="true"></i>
    {{this.rate}} %
</div>
<dx-chart
    #progBar
    class="bar-chart"
    *ngIf="dataSource"
    [dataSource]="dataSource">
    <dxi-series
        argumentField="month"
        valueField="count"
        type="bar"
        color="#89898a">
    </dxi-series>
    <dxi-value-axis [valueMarginsEnabled]="true" [showZero]="true"></dxi-value-axis>
    <dxo-format type="largeNumber" [precision]="1"></dxo-format>
    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
    <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>