<dx-data-grid 
    id="nurs-circum-server"
    class="gridContainer"
    [dataSource]="dataSource"
    [columnResizingMode]="'nextColumn'" [allowColumnResizing]="true"
    (onContentReady)="onContentReady($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowClick)="onRowClick($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)">
    <dxo-filter-row 
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
    <dxi-column dataField="useYn" caption="{{'renewal2017.nurs.common.useYn' | translate}}" cssClass="text-center" [width]="80"></dxi-column>
    <dxi-column dataField="nrstId" caption="{{'renewal2017.nurs.diagnosis.circumstance.id' | translate}}" [width]="150"></dxi-column>
    <dxi-column dataField="nrstNm" caption="{{'renewal2017.nurs.diagnosis.circumstance.title' | translate}}"></dxi-column>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection
        mode="multiple"
       [selectAllMode]="allMode"
        showCheckBoxesMode="onClick">
    </dxo-selection>
    <dxo-sorting mode="single"></dxo-sorting>   

    <div *dxTemplate="let data of 'totalCount'">
        <h3 class="title-grid-sub">
            {{'renewal2017.nurs.diagnosis.circumstance.title' | translate}}
        </h3>
        <div class="informer">
            {{'research.search.result.0' | translate}}: <strong>{{resultCount}} / {{totalCount}}</strong>{{'common.cnt' | translate}}
        </div>
    </div>
</dx-data-grid>
<div *ngIf="loading" class="blind-curton">
    <div class="load-spinner">
        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div>