<perfect-scrollbar class="add-item-content" [config]="config">
    <div class="p-3">
        <h2 class="h6">
            {{'renewal2017.search-period' | translate}}
        </h2>
        <div>
            <daterangepicker
                (secDate)="selectDate($event)" 
                [secCode]="'powermode-datepicker-search'"
                [storageDate]="storageDate">
            </daterangepicker>
        </div>
        
        <h2 class="h6 mt-5">{{'renewal2017.label.select-item' | translate}}</h2>
        <ul class="list-group add-item-list mb-1" *ngFor="let cate of categoryGroup">
            <li *ngFor="let col of columns | outputItemFilter: cate.ctgCd" [hidden]="col.default"
                class="list-group-item">
                <button type="button" class="btn btn-text-type btn-text-lg" 
                    *ngIf="!col.default"
                    ngbTooltip="{{'renewal2017.button.uncheck-all' | translate}}"
                    (click)="removeColumn($event, col)">
                    <i class="fal fa-times-circle"></i>
                    <span class="sr-only">Remove</span>
                </button>
                {{col.caption}}
                <span class="float-right" *ngIf="col.ltUseYn === 'Y'">
                    <button type="button"
                        (click)="openFilter($event, col)"
                        class="btn btn-xs btn-primary">
                        {{'common.filter' | translate}}
                    </button>
                </span>
            </li>
        </ul>
    </div>
</perfect-scrollbar>

    