<form ngNoForm name="excelDownForm" action="{{excelUrl}}" target="_blank" method="POST" #excelDownForm>
    <input type="hidden" name="fileName" value="{{exFileName}}">
    <input type="hidden" name="filePath" value="{{exFilePath}}">
    <button type="submit" id="btn-submit-powermode-excel" onclick="excelDownForm.submit()" hidden>Download</button>
</form>

<!-- <h2 class="h6">{{'renewal2017.patientList' | translate}}</h2> -->
<!-- <div *ngIf="loading" class="blind-curton">
    <div class="load-spinner">
        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div> -->
<div class="container-header mb-2 row mt-3 ml-3 mr-3">
    <h4 class="h6 col-4">
        {{'renewal2017.patientList' | translate}}
    </h4>
    <div class="col-8 text-right">        
        <!-- IRB Approvals -->
        <!-- <button type="button" class="btn btn-light btn-sm" (click)="irbApprovals()" [disabled]="!isFinished">
            <i class="fal fa-vcard" aria-hidden="true"></i>
            {{'renewal2017.irb.name' | translate}}
        </button>   -->
        <!-- 엑셀 다운로드 -->
        <button type="button" class="btn btn-light btn-sm btn-rounded" (click)="excelDownModal()" [disabled]="!activeExcel">
            <i class="fal fa-file-excel-o" aria-hidden="true"></i>
            {{'renewal2017.excelDownload' | translate}}
        </button>
        <!-- sql viewer -->
        <button type="button" class="btn btn-light btn-sm btn-rounded" (click)="sqlViewer()" [disabled]="disableSql" [hidden]="!isAdmin">
            <i class="fal fa-file-text" aria-hidden="true"></i>
            {{'renewal2017.sqlViewer' | translate}}
        </button>
        <!-- 최종결과 보기 -->
        <!-- <button type="button" 
            class="btn btn-primary btn-sm" 
            (click)="viewResultTable()" 
            [disabled]="!isFinished"
            ngbTooltip="Output"
            placement="bottom">
            <i class="fal fa-plus-circle" aria-hidden="true"></i>
            <span>Apply</span>
        </button>  -->
    </div>
</div>
<perfect-scrollbar id="powermodePatientList" class="relative-area patient-list pl-3 pr-3" [config]="config">
    <dx-data-grid
        id="power-patient-result"
        class="gridContainer-powermode-result resultGrid"
        [dataSource]="dataSource"
        [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        (onRowClick)="onRowClick($event)">
        <dxi-column dataField="ptNo" caption="{{'research.patient.no' | translate}}" [cssClass]="'normal'"></dxi-column>
        <dxi-column dataField="ptNm" caption="{{'research.patient.name' | translate}}" [cssClass]="'normal'"></dxi-column>
        <dxi-column dataField="sexTpCd" caption="{{'research.gender' | translate}}" [cssClass]="'normal'"></dxi-column>
        <dxi-column dataField="ptBrdyDt" caption="{{'research.date.of.birth' | translate}}" [cssClass]="'normal'"></dxi-column>   

        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>  
        <dxo-sorting mode="single"></dxo-sorting>
        <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <!-- <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 15, 20]"
        ></dxo-pager> -->
        <div *dxTemplate="let data of 'totalCount'">
            <div class="informer">
                {{'research.search.result.0' | translate}}: <strong>{{totalCount}}</strong>{{'common.cnt' | translate}}
            </div>
        </div>
    </dx-data-grid>    
    
    <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        class="mb-5"
        [position]="{ of: '#powermodePatientList' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
    </dx-load-panel>
</perfect-scrollbar>

