<div class="container-fluid">
  <div class="bg-gray scenario-list">
    <div class="col-sm-12 main float-left" style="height:calc(100% - 10px)">
      <h2 class="h4">
        {{'cohort.requestShare.request-share-cohort-list' | translate}}&nbsp;&nbsp;( Total : {{sizePerSizeStr}} / {{totalStr}} )
      </h2>
      <dx-data-grid
        id="requestShareCohortList"
        [dataSource]="dataSource"
        [allowColumnResizing]="true"
        (onContentReady)="onContentReady($event)"
        (onCellPrepared)="onCellPrepared($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowUpdating)="onRowUpdating($event)"
        style="height:calc(100% - 10px)"
      >
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        <dxo-editing mode="form" [allowUpdating]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
        <!--dxo-popup
          title="Request Share Cohort Info"
          [showTitle]="true"
          [width]="700"
          [height]="345"
          [position]="{ my: 'top', at: 'top', of: window }">
        </dxo-popup//-->
        </dxo-editing>
        <dxi-column dataField="REQ_ID" caption="" [visible]="false" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="CHT_ID" caption="" [visible]="false" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="LOAD_DTM" caption="{{'cohort.requestShare.request-date' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="STF_NO" caption="{{'cohort.requestShare.staff-no' | translate}}" [allowFiltering]="true" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="DEPT_NM" caption="{{'cohort.requestShare.dept-nm' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="STF_NM" caption="{{'cohort.requestShare.staff-nm' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="EMAIL" caption="" [visible]="false" [allowEditing]="true" cssClass="text-center"></dxi-column>
        <dxi-column dataField="CHT_NM" caption="{{'cohort.requestShare.cohort-nm' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="REQ_CNTE" caption="{{'cohort.requestShare.req-cnte' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>
        <dxi-column dataField="REQ_ANONYMOUS" caption="{{'cohort.requestShare.req-anonymous' | translate}}" [allowEditing]="true" trueText="Y" falseText="N" cssClass="text-center"></dxi-column>
        <dxi-column dataField="REQ_EDIT" caption="{{'cohort.requestShare.req-edit' | translate}}" [allowEditing]="true" trueText="Y" falseText="N" cssClass="text-center"></dxi-column>
        <dxi-column dataField="REQ_DOWNLOAD" caption="{{'cohort.requestShare.req-download' | translate}}" [allowEditing]="true" trueText="Y" falseText="N" cssClass="text-center"></dxi-column>
        <dxi-column dataField="APV" caption="{{'cohort.requestShare.apv' | translate}}" cssClass="text-center">
          <dxo-lookup
            [dataSource]="approval"
            valueExpr="Key"
            displayExpr="Value">
          </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="APV_CNTE" caption="{{'cohort.requestShare.apv-cnte' | translate}}" cssClass="text-center"></dxi-column>
        <dxi-column dataField="EMAILYN" caption="{{'cohort.requestShare.emailyn' | translate}}" [visible]="true" trueText="Y" falseText="N" cssClass="text-center"></dxi-column>
        <dxi-column dataField="APV_DTM" caption="{{'cohort.requestShare.apv-date' | translate}}" [allowEditing]="false" cssClass="text-center"></dxi-column>

        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-remote-operations
          [sorting]="true"
          [paging]="true">
        </dxo-remote-operations>
        <dxo-paging [pageSize]="100"></dxo-paging>
        <dxo-sorting mode="single"></dxo-sorting>
      </dx-data-grid>
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(255,255,255,0)"
        [position]="{ of: '#requestShareCohortList' }"
        [(visible)]="loading"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
      </dx-load-panel>
    </div>
  </div>

</div>
