.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0.5rem 0; 
    vertical-align: middle;
    user-select: none;
    display: inline-block;
    line-height: 30px;
    font-size: $font-md;
}
.scenario-table {
    height: 150px;
}
.scenario-box {
    height: 120px;
}
.process-btn-group {
    margin-bottom: 10px;
}
.inbox {
    height: 180px;
}
.input-group-xs {
    .input-group-addon,
    .input-group-btn > .btn {
        height: 28px;
        font-size: $font-sm;
    }
}

.vertical-btn-group {
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -50px;
    button {
        display: block;
        width: 30px;
        margin-bottom: 5px;
    }
}
.bx-table-search {
    border: 1px solid $border-color;
    // height: 80px;
    margin-bottom: 15px;
    padding: 10px;
    
}
.blind-curton {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 1px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0.8;
}
// .load-spinner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-left: -25px;
//     margin-top: -25px;
//     .fa {
//         color: $brand-info;
//     }
// }
// Tab
.table-tab {
    height: 450px;
}
.table-list {
    .nav-link {
        min-width: 160px;
        white-space: nowrap;
    }
    .tab-pane {
        padding: 0;
        background-color: $bg-gray-color-dark;
    }
}
.nav-card-type {
    .nav-item { 
        .nav-link {
            font-size: $font-xs;
        }
    }    
    .total-count {
        font-size: 20px;
        color: $success-color;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }
    .list-reply {
        overflow: hidden;
        margin: 0;
        padding: 0;
        dl {
            margin: 0;
        }
        dt {
            float: left;
            font-weight: 500;
            padding-top: 3px;
            margin-right: 15px;
        }
        dd {
            font-size: 17px;
            font-weight: 300;
        }
        li {
            list-style: none;
            padding-inline-end: 0;
        }
    }
}
