// #editorPowermode {
// 	width: 10000px !important;
// 	height: 10000px !important;
// }
.vertical-split-grid vertical-split-separator {
    background-color: $border-color-light !important;
    border-left: 1px solid $border-color-light !important;
}
.header-property {
    @include verticaldiv(40px);
    background-color: $sidebar-toolbar-color;
    box-shadow: inset 0 -1px 0 0 $border-color-light;
    padding-left: 15px;
    font-size: $font-md;
    font-weight: 600;   
}
.input-material.headline {
    border-bottom: 1px solid $border-color-light;
    margin: auto;
    
}
.patient-list {
    // width: 100%;
    height: calc(100% - 100px);
    margin-bottom: 30px;
}
.patient-list-area {
    height: 100%;
}
.patient-list-frame {
    position: relative;
    z-index: 3;
}
.final-result-frame {
    position: relative;
    z-index: 4;
}
.header-scenario {
    // @include verticaldiv(40px);
    height: 40px;
    line-height: 28px;
    background-image: linear-gradient(to bottom, $gradation-to, $gradation-bottom);
    // text-align: center;
    font-size: $font-tbl;   
    margin: 0;
    .headline {
        margin: auto;
    }
    button {
        margin-top: 5px;
    }
}
.edit-toolbar {
    width: 39px;
    height: 100%;
    float: left;
    background-color: $sidebar-toolbar-color;
    text-align: center;
    box-shadow: inset -1px 0 0 0 $border-color-light, inset 1px 0 0 0 $border-color-light;
    .tool {
        font-family: 'Arial';
        font-size: 8px;
        height: 12px;
        background-color: $title-color-light;
        text-align: center;
        color: $default-color;
        @include verticaldiv(12px);
    }
    
    button {
        border: none;
        width: 39px;
        height: 50px;
        font-size: 17px;
        color: $title-color;
        background: transparent;
    }
}
.editor-area {
    margin-left: 40px;
    height: calc(100% - 40px);
    .scroll-area {
        height: 100%;
        overflow-x: auto;
    }
}
#editorPowermode {
    position: relative;
    // width: 4000px;
    display: inline-block;
    background: $editor-bg;
}
#editorPowermode svg {
    background: transparent;
}
#editorPowermode svg .link {
    z-index: 2;
}
.powermode-basic {
    // background-color: #2f3e47;
    h2 {
        color: $text-color-invert;
        font-size: 17px;
        margin-bottom: 20px;
        padding: 15px 15px 0 15px;
    }
    .col-form-label {
        color: $gray-color;
        font-weight: 300;
    }
    #daterangeStart.form-control {
        background-color: rgba(143, 142, 148, 0.14) !important;
    }
    .form-control {
        color: $text-color-invert;
        height: 30px !important;
        border: 1px solid #29343f;
        border-radius: 0;
        background-color: rgba(143, 142, 148, 0.14);
    }
    .dropdown {
        color: $text-color-invert;
        height: 30px !important;
        border: 1px solid #29343f;
        border-radius: 0;
        background-color: rgba(143, 142, 148, 0.14);
        .btn {
            color: $text-color-invert;
        }
    }
    .input-group .input-group-addon {
        color: $text-color-invert;
    }
}

.html-element {
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    width: 250px;
    font-size: $font-md;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 18px;
    background-color: $default-color;
    z-index: 2;
    label {
        width: 180px;
        display: block;
        @include verticaldiv(28px);
        font-size: $font-md;
        color: $text-color-invert;
        border-radius: 0 0 4px 0;
        padding-left: 10px;
	}
    .box-item {
		position: relative;
        z-index: 9999;
        input {
            pointer-events: auto;
        }

		.bx {
            pointer-events: auto;
            cursor: pointer;
			height: 56px;
			margin: 18px 18px 0;
			border-radius: 4px;
			padding: 4px;
            border: 1px solid rgba(191, 191, 191, 0.85);
			.bar {
				float: left;
				width: 6px;
				height: 100%;
				margin-right:10px;
				display: block;
			}
			h5 {
				font-size: $font-md;
				padding: 4px;
				font-weight: 600;
            }
            &.active {
                border-color: $danger-color;
            }
        }
        .btn-delete-item {           
            color: $border-color-focus;
            i {
                pointer-events: none;
            }
        }        
	}
    &.yellow {
        @include colorskin($sample-yellow);
    }
    &.green {
        @include colorskin($sample-green);
    }
    &.dark-green {
        @include colorskin($sample-dark-green);
    }
    &.orange {
        @include colorskin($sample-orange);
    }
    &.purple {
        @include colorskin($sample-purple);
    }
    &.dark-purple {
        @include colorskin($sample-dark-purple);
    }
    &.blue {
        @include colorskin($sample-blue);
    }
    &.sky {
        @include colorskin($sample-sky);
    }
    &.magenta {
        @include colorskin($sample-magenta);
    }
    &.cyon {
        @include colorskin($sample-cyon);
    }
    &.pink { 
        @include colorskin($sample-pink);
    }
    &.khaki {
        @include colorskin($sample-khaki);
    }
}
.labels-condition {
    &:hover {
        cursor: pointer;
    }    
}
excel-download-modal .dx-progressbar-status {
    display: none;
} 
// .link-tools .tool-remove { display: none }
.connection-wrap, .connection { pointer-events: none; }
.word-index {
    font-size: $font-xs;
    font-weight: 500;
    color: $primary-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.floating-condition-layer {
    display: none;
    position: absolute;
    z-index: 999;   
    border: 1px solid $border-color;
    .ico-condition {
        display: block;
        width: 38px;
        height: 25px;
        &.ico-and {
            background: url(images/AND.png) 0 0 no-repeat;
        }
        &.ico-or {
            background: url(images/OR.png) 0 0 no-repeat;
        }
    }
    .card-header {
        font-size: $font-xs;
        color: $dark-color;
        padding: 8px;
        border-bottom: 1px solid $border-color;
    }
    .card-body {
        padding: 0;
        li {
            float: left;
            padding: 7px 20px;
            text-align: center;
            font-size: $font-xs;
            font-weight: 600;
            border-right: 1px solid $border-color;
            &:last-child {
                border-right: none;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
                background-color: $light-color;
            }
        }
    }
}
.ps-scrollbar-x-rail, 
.ps-scrollbar-y-rail {
    z-index: 1000;
}

.marker-vertices {
    display: none;
    position: absolute;
    top: -999em;
}
.vertical-text {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: calc(- #{$font-md}/2);
	font-size: $font-md;
	text-align: center;
	color: $border-color-light;
}
.html-group-folder {
	position: absolute;
    pointer-events: none;
    z-index: 2;
    font-size: $font-md;    
    height: auto !important;

	.group-label {
		position: relative;
        width: 200px;
        display: block;
        // margin-top: -35px;
        margin-bottom: 1px;
		left: 15px;
        @include verticaldiv(35px);
		font-size: $font-md;
		border: solid 1px $border-color-focus;
		border-bottom: none;
		border-radius: 4px 4px 0 0;
		background-color: #f8f8f8;
        padding-left: 10px;
        margin: 0;
        color: $text-color;
        background-color: $folder-bg-color;
	}
	.box-group {
        border-radius: 4px;
        border: solid 1px $border-color-focus;
        background-color: $folder-bg-color;
		.html-element {
			position: relative;
			margin: 10px;
		}
    }
}
.port-label {
	display: none;
}
.body {
    opacity: 0.5;
}
.result-summary {
    dl {
        margin: 30px 15px;
        border-bottom: 1px solid $light-gray;
    }
    dt {
        font-size: $font-md;
        color: $title-color;
        margin-bottom: 10px;
        font-weight: 500;
        text-align: center;
    } 
    dd {
        font-size: 25px;
        color: $text-color;
        text-align: center;
        font-weight: 700;
    }
}

/* port styling */
.available-magnet {
    fill: $warning-color;
    // r: 10;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}
.inner-property-area {
	height: 100%;
	overflow-y: auto;
}
.query-list {
    padding: 35px;    
    min-height: 700px;
    .left-col,
    .right-col {
        padding: 0 20px;
        min-height: 600px;
    }
    .left-col {
        border-right: 1px solid $border-color;
    }
}
.add-item-list {
    .list-group-item {
        border-left: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        &:first-child {
            border-top: 1px solid $primary-color;
        }
        &:last-child {
            border-bottom: 1px solid $primary-color;
        }
    }    
}
.add-item-container {
    height: 100%;    
    .add-item-content {
        height: 100%;
    }
}

.power-props-inner {
    padding: 15px;
    .col-form-label {
        font-weight: 400;
    }
    .floor {
        // padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 4px double $border-color-light;
    }
    // .btn {
    //     border-radius: 0;
    // }
    .btn-md {
        height: $form-control-sm;
    }
	.custom-select, .form-control {
		height: $form-control-sm !important;
		border-color: $border-color-light;
		border-radius: 0;
    }
    .input-group {
        border: none;
        input[type=number] {
            width: 100%;
        }
        .custom-select {
            min-width: 60px;
        }
        .input-group-text {
            height: $form-control-sm;
            border-radius: 0;
        }
    }
	.form-check {
		margin-bottom: 0;
	}
    h2 {
		font-size: $font-md;
		margin-bottom: 1rem;
    }
    .flex-header {
        overflow: hidden;
    }
    .title-grid-sub {
        font-size: $font-md;
    }
    .client-grid {
        border: 1px solid $info-color;
        border-radius: 4px;
        .card-header {
            background-color: $accordion-head-color;
            // border: 1px solid $border-color-thin;
            border-bottom: 1px solid $border-color-thin;
            overflow: hidden; 
            padding: 10px;
            height: 40px;
            border-radius : 4px 4px 0 0;
        }
        .card-body {
            padding: 0 0 4px 0;
            border-radius: 0 0 4px 4px;
            // border: 1px solid $border-color-thin;
            border-top: none;
            background-color: $light-color;
        }        
    }
}
.dark-mode .client-grid {
    border: 1px solid $border-color-light;    
    border-radius: 4px;
}
// .draggable-item-list {
//     &.finalMode {
//         .powermode-sublist-item.disabled {
//             opacity: 0.5;
//             cursor: not-allowed;
//             user-select: none;
//             -moz-user-select: none;
//         }
//     }
// }