<div class="modal-header">
    <h3 class="modal-title">
        {{'research.help' | translate}}
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close Click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <img src="assets/styles/images/help.png" alt="help" style="width: 100%;"> -->
    <div class="text-center">
        <p>XBAP 크롬으로 열기 (이 안에서 익스플로러 실행하기)</p>
        <p>
            <a href="https://chrome.google.com/webstore/detail/ie-tab/hehijbfgiekmjfkfjpbkbammjbdenadd">
                https://chrome.google.com/webstore/detail/<br>ie-tab/hehijbfgiekmjfkfjpbkbammjbdenadd
            </a>
        </p>
        <p>이를 설치 후,</p>
        <img class="help-img" src="assets/styles/images/help1.png">
        <p>크롬에서 열면</p>
        <img class="help-img" src="assets/styles/images/help2.png">
        <p>밑의 빨강 부분에 아래 주소를 추가한다.</p>
        <p>
            <a href="http://hisweb.snuh.org/webservice/XBAP/app.publish/HIS.Core.XBAP.xbap*">
                http://hisweb.snuh.org/webservice/XBAP/<br>app.publish/HIS.Core.XBAP.xbap*
            </a>
        </p>
        <img class="help-img" src="assets/styles/images/help3.png">
    </div>
</div>
<div class="modal-footer text-right">
    <button 
        type="button" 
        class="btn btn-primary btn-rounded" 
        (click)="activeModal.close('Close Click')">
        {{'common.ok' | translate}}
    </button>
</div>
