<div class="modal-header">
    <h3 class="modal-title">
        {{'renewal2017.job-status.title' | translate}}
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close Click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-text">
        <span *ngIf="message==='alert-1'">{{'renewal2017.job-status.alert-1' | translate}}</span>
        <span *ngIf="message==='alert-2'">{{'renewal2017.job-status.alert-2' | translate}}</span>
        <span *ngIf="message==='alert-3'">{{'renewal2017.job-status.alert-3' | translate}}</span>
    </div>
</div>
<div class="modal-footer text-right">
    <button
        *ngIf="!showCreate"
        type="button"
        class="btn btn-md btn-danger btn-rounded"
        (click)="cancelJob()">
        Job 취소
    </button>
    <button
        *ngIf="showCreate"
        type="button"
        class="btn btn-md btn-info btn-rounded"
        (click)="activeModal.close('ready')"
        [disabled]="!activeCreate">
        Job 생성
    </button>    
    <button
        type="button"
        class="btn btn-md btn-light btn-rounded"
        (click)="activeModal.close('no')">
        {{'common.close' | translate}}
    </button>
</div>
