<div class="tab-inner-area">
    <div class="col-sm-12 form-line">
        <!-- 환자명단 업로드 -->
        <div class="form-group row">
            <div class="col-12">
                <button id="patient-0" class="btn btn-primary btn-md btn-rounded upload-btn" (click)="uploadPatients()">
                    <i class="fal fa-upload" aria-hidden="true"></i>
                    Upload Patients
                </button>
                <small *ngIf="concernData.uploadYN !== 'Y'" class="ml-4 text-warning">
                    {{'renewal2017.p.notice-limit-patient' | translate}}
                </small>
                <small *ngIf="concernData.uploadYN === 'Y'" class="ml-4 text-primary">{{uploadPatient}} 건의 환자명단이 업로드되었습니다.</small>
            </div>
            <!-- <label for="patient-0" class="col-sm-2 col-form-label">
                {{'renewal2017.label.upload-patient' | translate}}
            </label>
            <div class="col-sm-8">
                <button class="btn btn-info btn-md upload-btn" (click)="uploadPatients()">
                    <i class="fal fa-upload" aria-hidden="true"></i>
                    {{'renewal2017.button.upload' | translate}}
                </button>
                <small *ngIf="concernData.uploadYN === 'Y'" class="ml-4 text-primary">{{uploadPatient}} 건의 환자명단이 업로드되었습니다.</small>
            </div> -->
        </div>
    </div>
    <concern-search></concern-search>
</div>