<div class="container-fluid">
  <div class="bg-gray scenario-list">
    <div class="col-sm-5 main float-left ml-5">
      <h2 class="h4">
        {{'cohort.nav-my-cohort' | translate}}
      </h2>
      <span style="color:#89898a;font-size: 11px;">
      <span class="float-right" style="display:grid;width:70px;"><i class="fal fa-download text-center mb-1"></i><span class="text-center">다운로드권한</span></span>
      <span class="float-right" style="display:grid;width:70px;"><i class="fal fa-edit text-center mb-1"></i><span class="text-center">수정권한</span></span>
      <span class="float-right" style="display:grid;width:70px;"><i class="fal fa-eye-slash text-center mb-1"></i><span class="text-center">익명권한</span></span>
      <span class="float-right" style="display:grid;width:70px;"><i class="fal fa-eye text-center mb-1"></i><span class="text-center">비익명권한</span></span>
    </span>
      <ul class="grid-ul">
        <li class="row" style="display:block;">
          <span>공유 승인된 코호트입니다.</span>
        </li>
        <li class="row" *ngFor="let cohort of myCohorts">
          <div class="icon col-1">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <span style="display:inline-block;margin-top: 10px;margin-left: -12px;"><i class="fal fa-eye-slash" *ngIf="cohort.REQ_ANONYMOUS=='Y'" style="display:contents;font-size:12px;" ></i><i class="fal fa-eye" *ngIf="cohort.REQ_ANONYMOUS=='N'" style="display:contents;font-size:12px;" ></i>&nbsp;&nbsp;<i class="fal fa-edit" style="display:contents;font-size:12px;" *ngIf="cohort.REQ_EDIT=='Y'"></i>&nbsp;<i class="fal fa-download" style="display:contents;font-size:12px;" *ngIf="cohort.REQ_DOWNLOAD=='Y'"></i></span>
          </div>
          <div class="subject col-8">
            <a style="cursor: pointer;" (click)="openCohort(cohort.CHT_ID, cohort.CHT_NM, cohort.CHT_SFX, cohort.REQ_ANONYMOUS, cohort.REQ_EDIT, cohort.REQ_DOWNLOAD)">{{ cohort.CHT_NM }}</a>
            <div>
              <!--span>공유자 : [{{cohort.OWNER_DEPT_NM}}] {{cohort.OWNER_STF_NM}}</span//-->
              <span>공유자 : {{cohort.OWNERS}}</span>
              <span style="display: block;" title="{{ cohort.CHT_CNTE }}">{{ cohort.CHT_CNTE }}</span>
            </div>
          </div>
          <dl class="col-2">
            <dt>{{'cohort.share-date' | translate}}</dt>
            <dd>{{ cohort.LOAD_DTM }}</dd>
          </dl>
          <div class="icon btn-area col-1">
            <button type="button"
                    class="btn btn-text-type"
                    ngbTooltip="{{'research.delete' | translate}}"
                    (click)="deleteMyCohort($event, cohort.CHT_ID, cohort.CHT_NM)">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="sr-only">{{'research.delete' | translate}}</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-1 main float-left">
      <div class="col-sm-6 main float-left"></div>
      <div class="col-sm-6 main float-left label-border"></div>
    </div>
    <div class="col-sm-5 main float-left mr-5">
      <h2 class="h4">
        {{'cohort.nav-all-cohort' | translate}}
      </h2>
      <ul class="grid-ul">
        <li class="row">
          필요하신 코호트를 공유버튼을 눌러 권한을 신청하세요.
        </li>
        <li class="row" *ngFor="let cohort of allCohorts">
          <div class="icon col-1">
            <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="subject col-10">
            <a>{{ cohort.CHT_NM }}</a>
            <div>
              <!--span>공유자 : [{{cohort.OWNER_DEPT_NM}}] {{cohort.OWNER_STF_NM}}</span//-->
              <span>공유자 : {{cohort.OWNERS}}</span>
              <span style="display: block;" title="{{ cohort.CHT_CNTE }}">{{ cohort.CHT_CNTE }}</span>
            </div>
          </div>
          <div class="icon btn-area col-1">
            <button *ngIf="cohort.iconStatus===0" type="button"
                    class="btn btn-text-type"
                    ngbTooltip="{{'cohort.share' | translate}}"
                    (click)="requestShareCohort($event, cohort.CHT_ID, cohort.CHT_NM)">
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
              <span class="sr-only">{{'cohort.share' | translate}}</span>
            </button>
            <button *ngIf="cohort.iconStatus===2" type="button"
                    class="btn btn-text-type"
                    ngbTooltip="{{'cohort.request-share' | translate}}">
              <i class="fal fa-circle-o-notch fa-spin fa-1x fa-fw" aria-hidden="true"></i>
              <span class="sr-only">{{'cohort.request-share' | translate}}</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
