<div class="tab-inner-area">
    <form [formGroup]="ccForm">
        <div class="col-sm-12 form-line">
            <!-- 주호소 기입일 -->
            <div class="form-group row">
                <label for="cc-2" class="col-sm-2 col-form-label">
                    {{'renewal2017.writeAppealDay' |  translate}}
                </label>
                <div class="col-sm-7">
                    <!-- <dashboard-datepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
                    </dashboard-datepicker>                  -->
                    <daterangepicker
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
                </div>
            </div>
        </div>
    </form>

    <cc-search></cc-search>
</div>

