/**** Colors (recommended use HEX colors) ****/ 
$body-bg-color: #061F2F;
$container-bg-color: #0b283a;
$default-color:#061F2F; 
$default-hover: #4e5b62;
$bg-white: #ffffff;

$dark-color: #292e32;
$gray-color: #e1e3e5;
$light-color: #0b283a;
$light-gray: rgba(255, 255, 255, 0.08);

$text-color: #ffffff;
$text-color-light: #bdbdbd;
$text-color-invert: #ffffff;
$text-color-save: #ffffff;
$text-color-highlight: #c9d1fe;
$title-color: #bdbdbd;
$title-color-light: #bdbdbd;

$border-color-default:rgba(191, 191, 191, 0.85);
$border-color: #bdbdbd;
$border-color-active: #25333b;
$border-color-grid: #aaaaaa;
$border-color-light: #4e5b62;
$border-color-focus: #98a6ad;
$border-color-phantom: #061F2F;
$border-color-thin: #5b69bc;

$sidebar-bg-color:rgba(41, 46, 50, 1);
$sidebar-item-active-bg-color: #637CA0;
$sidebar-toolbar-color: #25333b;
$footer-bg-color: #4c4b4b;
$bg-gray-color: #0a283b;
$bg-gray-color-dark: #25333b;

$editor-bg: #2f3e47;

$tab-bg-color: #435966;
$table-bg-gray:rgba(255, 255, 255, 0.08);
$table-border: #4e5b62; 
$table-color-highlight: #5b69bc;
$table-header-color: #0b283a;
$table-header-normal: #435966;
$folder-bg-color: rgba(255, 255, 255, 0.08);

$accordion-head-color: #435966;
$modal-color-body: #435966;
$modal-color-head: #435966;

$btn-light-color: #404954;

$gradation-to: #2f3e47;
$gradation-bottom: #253138;

// 컬러 선택 변경 부분
$main-color: #061f2f;

$check-text-color: #52c7f7;

$primary-color: #5b69bc;
$success-color: #3abff5;
$info-color: #35b8e0;
$warning-color: #f79a17;
$danger-color: #bf1725;
$secondary-color: #404954;