<div class="tab-inner-area">	
	<form [formGroup]="visitForm">
		<!-- 수진 기간 -->
		<div class="col-sm-12 form-line mb-0">
			<div class="form-group row">			
				<label for="period-2" class="col-sm-2 col-form-label">
					{{'research.vdt.period' |  translate}}
				</label>
				<div class="col-sm-7">						
					<!-- <dashboard-datepicker 
						(secDate)="selectDate($event)" [secCode]="'datepicker-period'" 
						[storageDate]="storageDate">
					</dashboard-datepicker> -->
					<daterangepicker
						(secDate)="selectDate($event)" 
						[secCode]="'datepicker-period'"
						[storageDate]="storageDate">
					</daterangepicker>
				</div>
			</div>
		</div>
		<div class="col-sm-12 form-line">
			<div class="form-group row">
				<label for="basic-11" class="col-sm-2 col-form-label">
					{{'research.patient.classify' | translate}}
				</label>
				<div class="col-sm-5">
					<div class="select-sm">
						<ss-multiselect-dropdown 
							*ngIf="myOptions.length"
							[options]="myOptions" 
							[texts]="myTexts"
							[settings]="mySettings"
							formControlName="pactTpCd"
							[(ngModel)]="basic.pactTpCd"
							(ngModelChange)="onChange($event)"
							class="input-date-range">
						</ss-multiselect-dropdown>
					</div>
				</div>
				<!-- 수진 당시 나이 -->
				<label for="year-old-1" class="col-sm-2 col-form-label label-border">
					{{'research.vdt.at.that.age' | translate}}
				</label>
				<div class="col-sm-4">
					<select 
						id="year-old-1"
						class="form-control custom-select select-xs mr-1 float-left"
						formControlName="ageTpCd"
						[(ngModel)]="basic.ageTpCd">
						<option *ngFor="let state of dateUnit" [ngValue]="state.value">
							{{state.name}}
						</option>
					</select> 
					<input
						type="number"
						class="form-control number-input mr-1 float-left"
						min="0"
						title="{{'research.vdr.period.start' |  translate}}"
						placeholder="From"
						formControlName="age1"
						[(ngModel)]="basic.age1"> 
					<input
						type="number"
						class="form-control number-input"
						min="0"
						title="{{'research.vdr.period.end' |  translate}}"
						placeholder="To"
						formControlName="age2"
						[(ngModel)]="basic.age2">
				</div>
			</div>		
		</div>		
	</form>	
	
	<ngb-tabset class="table-list"
		[destroyOnHide]="true"
		(tabChange)="beforeChange($event)">
		<ngb-tab id="tab-medical-server">
			<ng-template ngbTabTitle>
				{{'research.treatment.dept.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<medical-search [activeTab]="activeId"></medical-search>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="tab-doctor-server">
			<ng-template ngbTabTitle>
				{{'research.treatment.dr.search' | translate}}
			</ng-template>
			<ng-template ngbTabContent>
				<doctor-search [activeTab]="activeId"></doctor-search>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

