<!-- <horizontal-split-pane
    [primary-component-toggled-off]="false"
    [secondary-component-toggled-off]="false"
    separator-thickness="1">
</horizontal-split-pane> -->
    <!-- Workflow -->
    <article class="card-workflow-default">
        <div class="card-header sr-only">
            {{'research.scenario.preview' | translate}}
        </div>
        <div class="card-body card-workflow-body">
            <workflow-diagram [curUrl]="'condition'"></workflow-diagram>
        </div>
    </article>
    <div class="content-bot-area">				
        <div class="content-bot-tab">
            <div class="tab-nav">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <!-- 기본 -->
                    <!-- <a class="nav-link" routerLink="./basicView" skipLocationChange routerLinkActive="active">
                        {{'renewal2017.basic' | translate}}
                    </a> -->
                    <!-- 환자 -->
                    <a class="nav-link" routerLink="./concernView" skipLocationChange routerLinkActive="active"
                        title="BESTCare에서 등록한 관심환자를 선택하거나, 본인이 기 보유한 환자번호를 업로드할 수 있습니다.">
                        환자
                    </a>
                    <!-- 수진 -->
                    <a class="nav-link" routerLink="./hospitalView" skipLocationChange routerLinkActive="active"
                        title="수진일, 환자구분(입원/외래/응급), 수진당시나이, 수진 진료과, 수진 진료의를 기준으로 검색합니다.">
                        {{'renewal2017.treatment' | translate}}
                    </a>
                    <!-- 진단 -->
                    <a class="nav-link" routerLink="./diagnosisView" skipLocationChange routerLinkActive="active"
                        title="진단일, 원내 진단명, ICD10코드, 진단 진료과를 기준으로 검색합니다.&#10;진단명 검색 시, 현재 사용 중인 진단명과 사용 종료된 진단명을 구분하여 보여줍니다.&#10;진단 진료과는 수진 진료과와 동일합니다.">
                        {{'research.diagnosis.0' | translate}}
                    </a>
                    <!-- 오더 -->
                    <a class="nav-link" routerLink="./orderView" skipLocationChange routerLinkActive="active"
                        title="처치오더, 수혈오더, FreeText오더를 기준으로 검색합니다.&#10;검색결과 : 수혈오더에의 경우, 수혈시작일시 정보가 있는 경우만 조회됩니다.">
                        {{'research.order.0' | translate}}
                    </a>
                    <!-- 수가 -->
                    <a class="nav-link" routerLink="./feeView" skipLocationChange routerLinkActive="active"
                        title="처치료, 수술료, 마취료 수가를 기준으로 검색합니다.&#10;검색결과 : 환불 처리된 수가는 제외됩니다.">
                        {{'research.cost.0' | translate}}
                    </a>
                    <!-- 약품 -->
                    <a class="nav-link" routerLink="./medicineView" skipLocationChange routerLinkActive="active"
                        title="약품처방일, 원내약품코드, ATC코드, 약품명(성분명)을 기준으로 검색합니다.">
                        {{'research.drug.0' | translate}}
                    </a>		
                    <!-- 검사 -->
                    <a class="nav-link" routerLink="./examView" skipLocationChange routerLinkActive="active"
                        title="검체/영상/기능/병리 검사 항목별 검사결과에 대한 세부 검색이 가능합니다.&#10;검색결과 : 검사가 시행된 건만 조회됩니다.">
                        {{'research.examination.0' | translate}}
                    </a>
                    <!-- 병리 -->
                    <a class="nav-link" routerLink="./pathView" skipLocationChange routerLinkActive="active"
                        title="병리리포트 전문에서 추출된 Key & Value를 검색 및 조회 가능합니다.">
                        {{'renewal2017.pathology.title' | translate}}
                    </a>                    				
                    <!-- 수술 -->
                    <a class="nav-link" routerLink="./surgicalView" skipLocationChange routerLinkActive="active"
                        title="'수술예정등록'의 수술일, 수술명(원내수술명, ICD9CM코드), 수술진단명, 수술진료과, 집도의, 수술후퇴실장소, 마취종류 기준으로 검색합니다.&#10;수술명 검색 시, 현재 사용 중인 수술명과 사용 종료된 수술명을 구분하여 보여줍니다.&#10;'수술기록' 기준 검색은 '서식' 탭에서, '수술료' 기준 검색은 '수가' 탭에서 가능합니다.&#10;검색결과 : 취소 수술은 제외됩니다.">
                        {{'research.surgery.0' | translate}}
                    </a>
                    <!-- cc -->
                    <a class="nav-link" routerLink="./ccView" skipLocationChange routerLinkActive="active"
                        title="주호소 기입일, 주호소명 기준으로 검색합니다.">
                        {{'renewal2017.cc' | translate}}
                    </a>
                    <!-- 서식 -->
                    <a class="nav-link" routerLink="./formView" skipLocationChange routerLinkActive="active"
                        title="각종 서식(초진, 경과, 수술기록, 과별서식, 퇴원 기록 등)으로 작성된 정보를 검색합니다.">
                        {{'research.form.0' | translate}}
                    </a>
                    <!-- 방사선치료 -->
                    <a class="nav-link" routerLink="./rediationView" skipLocationChange routerLinkActive="active"
                        title="방사선치료 수행일시, 처방명, 치료부위 등의 정보를 기준으로 검색합니다.">
                        {{'renewal2017.rediation.title' | translate}}
                    </a>
                    <!-- 간호과정 -->
                    <!-- <a class="nav-link" routerLink="./nursDiagView" skipLocationChange routerLinkActive="active">
                        {{'renewal2017.nurs.diagnosis.title' | translate}}
                    </a> -->
                    <!-- 간호기록 -->
                    <a class="nav-link" routerLink="./nursEavView" skipLocationChange routerLinkActive="active"
                        title="입원간호정보조사, 임상관찰기록의 간호항목, 간호진술문에 대해 세부 검색이 가능합니다.">
                        {{'renewal2017.nurs.term.title' | translate}}
                    </a> 
                    <!-- 간호진술문 -->
                    <a class="nav-link" routerLink="./nursStateView" skipLocationChange routerLinkActive="active"
                        title="간호진술문 및 속성(EAV)에 대해 세부 검색이 가능합니다.">
                        {{'renewal2017.nurs.statement.title' | translate}}
                    </a>              
                    <!-- 욕창/낙상/환자분류 -->
                    <a class="nav-link" routerLink="./nursAssmView" skipLocationChange routerLinkActive="active"
                        title="욕창/낙상 위험도 평가 및 환자분류도구를 통한 환자중증도위험평가의 분류군/분류점수를 기준으로 검색합니다.">
                        {{'renewal2017.nurs.assessment.common.title' | translate}}
                    </a>
                </div>
            </div>
            <div class="tab-content tab-grid">
                <router-outlet>
                    <!-- <div *ngIf="loading" class="load-spinner">
                        <i class="fal fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </div> -->
                </router-outlet>
            </div>
        </div>
    </div>
