<vertical-split-pane 
    class="vertical-split-grid"
    primary-component-minsize="80" 
    secondary-component-minsize="80" 
    primary-component-initialratio="0.5"
    separator-thickness="1">
    <div class="split-pane-content-primary">
        <div class="left">
            <doctor-server [activeTab]="activeTab"></doctor-server>
        </div>
    </div>
    <div class="split-pane-content-secondary">
        <div class="right">
            <div *ngIf="isFilter">
                <doctor-filter></doctor-filter>
            </div>
            <div *ngIf="!isFilter">
                <doctor-client></doctor-client>
            </div>   
        </div>
    </div>
</vertical-split-pane>