<div class="modal-header">
    <h3 class="modal-title">
        {{'renewal2017.excel.modal.header' | translate}}
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('cancel')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-text">
        <p><span>ㆍ{{'renewal2017.excel.modal.alert-1' | translate}}</span></p>
        <p><span>ㆍ{{'renewal2017.excel.modal.alert-2' | translate}}</span></p>
        <p><span class="text-danger">ㆍ{{'renewal2017.excel.modal.alert-3' | translate}}</span></p>
        <p><span>ㆍ{{'renewal2017.excel.modal.alert-4' | translate}}</span></p>
        <p><span>ㆍ{{'renewal2017.excel.modal.alert-5' | translate}}</span></p>
        <p>
            <span *ngIf="status==='start'" class="text-info">ㆍ{{'renewal2017.excel.modal.start' | translate}}&nbsp;<dx-load-indicator id="small-indicator" height="20" width="20"></dx-load-indicator></span>
            <span *ngIf="status==='working'" class="text-info">ㆍ{{'renewal2017.excel.modal.working' | translate}}</span>
            <span *ngIf="status==='complete'" class="text-info">ㆍ{{'renewal2017.excel.modal.complete' | translate}}</span>
            <span *ngIf="status==='error'" class="text-warning">ㆍ{{'renewal2017.excel.modal.error' | translate}}</span>
        </p>
        <div class="row dx-datagrid-header" style="padding-left: 80px;padding-bottom: 10px;">
          <div class="col-8" style="display: flex;">
            <span style="margin-right: 10px; ">
              <dx-date-box
                [value]="yesterday"
                (onValueChanged)="getStartDate($event)"
                displayFormat="yyyy-MM-dd"
                width="120"
                height="30">
              </dx-date-box>
            </span>
            <span style="margin-right: 10px; ">~</span>
            <span style="margin-right: 10px; ">
              <dx-date-box
                [value]="yesterday"
                (onValueChanged)="getEndDate($event)"
                displayFormat="yyyy-MM-dd"
                width="120"
                height="30">
              </dx-date-box>
            </span>
            <!--span style="margin-right: 10px; ">
              <dx-check-box
                text="수정건만"
                (onValueChanged)="onlyModifiedChanged($event)">
              </dx-check-box>
            </span>
            <span style="margin-right: 10px; ">
              <dx-check-box
                text="컨펌포함"
                (onValueChanged)="includeConfirmChanged($event)">
              </dx-check-box>
            </span//-->
        </div>
        <!--div class="col-4">
        <span class="float-right" style="right:0px;">
          <dx-button id="commitBtn" type="default" height="29px" width="80px" >
              <div *dxTemplate="let data of 'content'">
                  <span class='dx-button-text'>{{buttonText}}</span>
              </div>
          </dx-button>
        </span>
        </div//-->
      </div>

          <ul class="nav nav-sidebar flex-column" style="padding-left:80px;">
        <li style="height: 24px;" *ngFor="let tbl of tbls;let i='index'">
            <!--i class="fal fa-table" aria-hidden="true"
               ngbTooltip="FT_COH_PRC_{{tbl.TBL_SFX}}"
               container="body"
               placement="right"></i//-->
            <input type="checkbox" [(ngModel)]="tbls[i].selected">&nbsp;<span>{{tbl.PRC_CNTE}}</span>
        </li>
      </ul>
        <dx-progress-bar #excelProgressBar
            *ngIf="status==='start'"
            id="excel-bar-status"
            class="mt-5"
            [class.complete]="excelProgressBar.value == maxValue"
            [min]="0"
            [max]="maxValue"
            [value]="progressRate">
        </dx-progress-bar>

    </div>
</div>
<div class="modal-footer text-right">
    <!--button
        *ngIf="!isAgreed"
        type="button"
        class="btn btn-md btn-info btn-rounded"
        (click)="setAgreement()">
        {{'common.ok' | translate}}
    </button//-->
    <button
        *ngIf="isAgreed"
        type="button"
        class="btn btn-md btn-info btn-rounded"
        (click)="setAgreement()"
        [disabled]="!isRun">
        {{'renewal2017.excel.modal.save-button' | translate}}
    </button>
    <button
        type="button"
        class="btn btn-md btn-light btn-rounded"
        (click)="activeModal.close('cancel')">
        {{'renewal2017.button.cancel' | translate}}
    </button>
</div>
